@charset "UTF-8";
/*Feuille de style*/
section#Programme {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
}

section#Programme #DescriptionGenerale {
  flex-basis: 100%;
}

section#Programme #DescriptionGenerale ul.listeEtapeProduction {
  list-style-type: none;
}

section#Programme #DescriptionGenerale ul.listeEtapeProduction li::before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

section#Programme #ToutesSessions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1em;
}

section#Programme #ToutesSessions #accordeonSession {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

section#Programme #ToutesSessions li.session {
  display: flex;
  margin: 0.5em 0;
}

section#Programme #ToutesSessions li.session .boutonSession {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 5em;
  min-height: 70vh;
  background-color: white;
  padding: 0;
  margin: 0 0.3em;
  cursor: pointer;
  transition: all 200ms ease-in;
  transform: scale(1);
}

section#Programme #ToutesSessions li.session .boutonSession:hover {
  background-color: black;
  transform: scale(1.02);
}

section#Programme #ToutesSessions li.session .boutonSession:hover h2 {
  color: inherit;
  text-shadow: 2px 2px 10px #e4e4e4;
}

section#Programme #ToutesSessions li.session .boutonSession h2 {
  color: black;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: center;
  margin: 0;
}

section#Programme #ToutesSessions li.session .fenetreCours {
  padding: 0 1em;
  background-color: rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

section#Programme #ToutesSessions li.session .fenetreCours h2 {
  order: 1;
  align-self: flex-end;
  margin-bottom: 2em;
  font-size: 2em;
}

section#Programme #ToutesSessions li.session .fenetreCours .listeCours {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  order: 0;
  list-style: none;
  padding: 0;
  margin: auto 0;
}

section#Programme #ToutesSessions li.session .fenetreCours .listeCours li .descriptionCours {
  padding-top: 0 !important;
}

section#Programme #ToutesSessions li.session .fenetreCours .listeCours li .descriptionCours h3 {
  cursor: pointer;
  margin: 1em 0;
  transition: padding-left 0.2s;
}

section#Programme #ToutesSessions li.session .fenetreCours .listeCours li .descriptionCours h3:hover {
  color: black;
  padding-left: 1em;
}

section#Programme #ToutesSessions li.session .fenetreCours .listeCours li .descriptionCours ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.5em;
  overflow: hidden;
}

section#Programme #ToutesSessions li.session .fenetreCours .listeCours li .descriptionCours ul li:nth-child(4) {
  margin-bottom: 1.5em;
}

section#Programme #ToutesSessions li.session .coursCachee {
  display: none;
}

section#Programme #ToutesSessions li.session .coursVisible {
  display: block;
}

@media (min-width: 521px) and (max-width: 980px) {
  section#Programme #ToutesSessions {
    flex-direction: column;
  }
  section#Programme #ToutesSessions #accordeonSession {
    flex-direction: column;
  }
  section#Programme #ToutesSessions li.session {
    flex-direction: column;
  }
  section#Programme #ToutesSessions li.session .boutonSession {
    min-height: auto;
    width: 100%;
    margin: 0;
  }
  section#Programme #ToutesSessions li.session .boutonSession h2 {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    padding: 4vh 0;
  }
  section#Programme #ToutesSessions li.session .fenetreCours {
    min-height: 60vh;
    align-items: flex-start;
  }
  section#Programme #ToutesSessions li.session .fenetreCours h2 {
    display: none;
  }
  section#Programme #ToutesSessions .descriptionCours {
    width: 100% !important;
    margin: 2em 0;
  }
  section#Programme #ToutesSessions .descriptionCours h3 {
    margin: 1em 0;
  }
}

@media (max-width: 520px) {
  section#Programme #ToutesSessions {
    flex-direction: column;
  }
  section#Programme #ToutesSessions #accordeonSession {
    flex-direction: column;
  }
  section#Programme #ToutesSessions li.session {
    flex-direction: column;
  }
  section#Programme #ToutesSessions li.session .boutonSession {
    min-height: auto;
    width: 100%;
    margin: 0;
  }
  section#Programme #ToutesSessions li.session .boutonSession h2 {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    padding: 4vh 0;
  }
  section#Programme #ToutesSessions li.session .fenetreCours {
    min-height: 60vh;
  }
  section#Programme #ToutesSessions li.session .fenetreCours h2 {
    display: none;
  }
  section#Programme #ToutesSessions .descriptionCours {
    width: 100% !important;
    margin: 2em 0;
  }
  section#Programme #ToutesSessions .descriptionCours h3 {
    margin: 1em 0;
  }
}

/** conteneur pour le formatage de la section**/
.site-branding {
  display: flex;
  justify-content: center;
  position: relative;
}

/** creation du cercle de couleur pour l'animation **/
#logo-cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 37vw;
  width: 37vw;
  background: linear-gradient(90deg, #71cf94 0%, #e4ed0e 22%, #eeb813 39%, #dca332 56%, #c18362 75%, #00d4ff 100%);
  border: solid 1px white;
  justify-content: center;
  border-radius: 50%;
  animation: rotation 10s infinite linear;
}

/* animation de la rotation du cercle */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/** formatage + style div noire contenant le logo **/
.site-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  font-size: 8em;
  text-align: center;
  border-radius: 100%;
  height: 35vw;
  width: 35vw;
  justify-content: center;
  background-color: black;
  color: linear-gradient(90deg, #71cf94 0%, #e4ed0e 22%, #eeb813 39%, #dca332 56%, #c18362 75%, #00d4ff 100%);
  box-shadow: 0px 0px 14px 0px #f8f8f8;
  /** contenu de la div noire**/
  /* animation de transition pour le logo tim*/
}

.site-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  background-image: url(../images/LogoTIM.png);
  background-image: url(../images/logoTIM.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.site-title a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  background-image: url(../images/Techniques.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: background-image  2s;
}

/* 
*
*    Section du site : le site complet. 
*    Auteur: Charles Noël, Lauryan Gervais.
*    Style général de la page web,
*    texte, marge, margin, ajustement,
*    Bureau, mobile & tablette.
*
*/
* {
  padding: 0;
  padding: 0;
  /* webkit=para navegadores antiguos y moz para los actuales*/
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3vh;
  text-decoration: none;
  text-shadow: 2px 2px 10px #494949;
}

h2,
h3,
h4,
p,
a,
li {
  color: #dfdfdf;
  text-decoration: none;
  text-shadow: 2px 2px 10px #494949;
}

button.boutonSession h2 {
  color: #272727;
}

section {
  padding-top: 25% !important;
}

section#Evenement {
  padding-top: 35% !important;
  padding-bottom: 15%;
}

.site-main {
  max-width: 1920px;
  padding-left: 8vw;
  padding-right: 8vw;
}

#background-noise {
  background-image: url(../images/noise.png);
  background-repeat: repeat;
}

.site-branding {
  display: flex;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (min-width: 521px) and (max-width: 980px) {
  section {
    padding-top: 55%;
    padding-bottom: 10%;
  }
  section#Evenement {
    padding-top: 85%;
    padding-bottom: 15%;
  }
}

@media (max-width: 520px) {
  section {
    padding-top: 75%;
    padding-bottom: 10%;
  }
  section#Evenement {
    padding-top: 85%;
    padding-bottom: 15%;
  }
}

/* style correction img */
.mySlides img {
  object-fit: cover;
}

@media screen and (max-width: 979px) {
  header .main-navigation {
    display: none;
  }
  header .menu-bar-movil {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: black;
  }
  header .menu-bar-movil .logo img {
    max-width: 30px;
    position: relative;
    left: 20px;
  }
  header .menu-bar-movil .technique p {
    font-size: 10px;
    color: white;
  }
  header .menu-bar-movil .burger-menu {
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    right: 20px;
  }
  header .menu-bar-movil .burger-menu:active {
    color: #b0f5ff;
  }
  header .menu-bar-movil .slideMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    right: -100%;
    background-color: #b0f5ff;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
  }
  header .menu-bar-movil .slideMenu.active {
    right: 0;
  }
  header .menu-bar-movil .slideMenu .top-redes {
    display: flex;
    background-color: black;
    width: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .menu-bar-movil .slideMenu .top-redes img {
    margin-bottom: 5px;
    width: 20px;
    margin: 10px 0;
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
  }
  header .menu-bar-movil .slideMenu .top-redes img:hover {
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #7dddec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  header .menu-bar-movil .slideMenu .menu-principal {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  header .menu-bar-movil .slideMenu .menu-principal a {
    margin-bottom: 10px;
    line-height: 30px;
    border-bottom: 1px solid black;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  header .menu-bar-movil .slideMenu .menu-principal a:hover {
    font-weight: 800;
    color: white;
  }
  header .menu-bar-movil .slideMenu .fermer {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    padding: 5px 8px;
    margin: 380px 20px 0 0;
    position: relative;
    right: 15px;
    top: 20px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px black;
  }
  header .menu-bar-movil .slideMenu .fermer i:hover {
    cursor: pointer;
    color: #db69a2;
  }
}

/* 
*
*    Section du site : La navigation bureau fixe.  
*    Auteur: Charles Noël.
*    Style général de la navigation bureau,
*
*/
body {
  min-height: auto;
  background-color: #141414;
  animation: body 1s linear;
}

@keyframes body {
  from {
    background-color: linear-gradient(180deg, #6d6d6d 5%, black 10%);
  }
  10% {
    background-color: #2aa0b4;
  }
  70% {
    background-color: #dbb300;
  }
  to {
    background-color: #912045;
  }
}

section #Professeur, #Projet, #Professeur, #Stage, #Evenement, #Programme {
  opacity: 0;
}

#Programme.bgBlue {
  transform: translateX(-80px);
  animation: sectionTransitionX 2s forwards !important;
}

#Professeur.bgBlue {
  transform: translateX(-80px);
  animation: sectionTransitionX 2s forwards !important;
}

#Projet.bgBlue {
  transform: translateX(-80px);
  animation: sectionTransitionX 2s forwards !important;
}

#Stage.bgBlue {
  transform: translateX(100px);
  animation: sectionTransitionX 2s forwards !important;
}

#Evenement.bgBlue {
  transform: translateX(100px);
  animation: sectionTransitionX 2s forwards !important;
}

@keyframes sectionTransitionX {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}

@keyframes progress {
  to {
    background-color: #14ffe2;
    width: 100%;
  }
}

.cube-wrap {
  --size: 7vmin;
  position: fixed;
  height: 0;
  perspective: 100vmin;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}

@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
}

.top {
  background-color: #fff;
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
}

.bottom {
  background-color: black;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
}

.left {
  background-color: #ff7b7b;
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
}

.right {
  background-color: #b0f5ff;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
}

.front {
  background-color: #ecff7d;
  transform: translateZ(calc(var(--size) * 0.5));
}

.back {
  background-color: #96f8a3;
  transform: translateZ(calc(var(--size) * -0.5));
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@media screen and (min-width: 980px) {
  .menu-bar-movil {
    display: none;
  }
  .main-navigation ul li {
    display: flex;
    position: fixed;
  }
  .main-navigation ul li a {
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 3vh;
    text-decoration: none;
    text-shadow: 2px 2px 10px #494949;
    transition: .10s;
  }
  .main-navigation ul li a:hover {
    color: #b0f5ff;
  }
  .main-navigation ul li .liensActif {
    font-size: 3.4vh;
    color: #B0F5FF;
  }
  .main-navigation ul li img {
    width: 36px;
    height: 36px;
    box-shadow: 2px 2px 10px #494949;
    border-radius: 15%;
  }
  .main-navigation ul li:nth-child(1) {
    left: 1.5%;
    top: 12%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(1):hover {
    top: 14%;
  }
  .main-navigation ul li:nth-child(2) {
    left: 1%;
    top: 28%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(2):hover {
    top: 29%;
  }
  .main-navigation ul li:nth-child(3) {
    left: 1%;
    top: 55%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(3):hover {
    top: 56%;
  }
  .main-navigation ul li:nth-child(4) {
    left: 1%;
    top: 82%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(4):hover {
    top: 83%;
  }
  .main-navigation ul li:nth-child(5) {
    right: 1%;
    top: 5%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(5):hover {
    top: 6%;
  }
  .main-navigation ul li:nth-child(6) {
    right: 1%;
    top: 25%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(6):hover {
    top: 26%;
  }
  .main-navigation ul li:nth-child(7) {
    right: 1%;
    top: 67%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(7):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
  .main-navigation ul li:nth-child(8) {
    right: 1%;
    top: 75%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(8):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
  .main-navigation ul li:nth-child(9) {
    right: 1%;
    top: 83%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(9):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
  .main-navigation ul li:nth-child(10) {
    right: 1%;
    top: 90%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(10):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
}

/* 
*
*    Section du site : Projet & vie étudiante.    
*    Auteur: Charles Noël.
*    Style général de la navigation bureau,
*
*/
section#Projet {
  /* caroussel vignette */
  /* div text */
  /* Animation */
}

section#Projet h1#SectionProjet {
  flex-basis: 100%;
  padding-bottom: 5%;
}

section#Projet .descriptionProjet {
  list-style: none;
  /* style temporaire */
  padding: 10px;
  background-color: rgba(111, 41, 97, 0.3);
  border: 2px solid rgba(111, 41, 97, 0.5);
}

section#Projet .descriptionProjet h3:hover {
  color: rgba(131, 115, 115, 0.603);
  cursor: pointer;
}

section#Projet .descriptionProjet a p:hover {
  color: darkgray;
  cursor: pointer;
}

section#Projet .vignette-Projet {
  width: auto;
  height: auto;
}

section#Projet .image-carousselfade {
  flex-direction: row;
  display: none;
}

section#Projet .info-Vignette {
  order: 1;
  align-self: flex-end;
}

section#Projet .image-Projet {
  order: 2;
  flex-grow: 4;
}

section#Projet img {
  width: 60vw;
  height: auto;
}

section#Projet .clip-polygon {
  border-radius: 61% 39% 27% 73% / 31% 46% 54% 69%;
}

section#Projet .projetFadeIn {
  animation: projetFadeIn ease 3s;
}

section#Projet .projetSwipe {
  animation: projetSwipe ease 3s;
}

@keyframes projetFadeIn {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes projetSwipe {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 521px) and (max-width: 980px) {
  /* caroussel vignette */
  .vignette-Projet h2 {
    font-size: 20px;
  }
  .vignette-Projet h3 {
    font-size: 15px;
  }
  .vignette-Projet p {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  /* caroussel vignette */
  .vignette-Projet h2 {
    font-size: 20px;
  }
  .vignette-Projet h3 {
    font-size: 15px;
  }
  .vignette-Projet p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/************ALL ************/
* {
  box-sizing: border-box;
}

.stageCarrousel-container {
  width: 100%;
  position: relative;
  margin: auto;
  /* On hover, add a black background color with a little bit see-through */
}

.stageCarrousel-container .mySlides {
  display: none;
}

.stageCarrousel-container .mySlides img {
  width: 100%;
  height: 350px;
}

.stageCarrousel-container .mySlides .text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.stageCarrousel-container .prev,
.stageCarrousel-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.stageCarrousel-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.stageCarrousel-container .prev:hover,
.stageCarrousel-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading ANIMATION *************************/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.petitmot {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 30px 0 40px;
}

.petitmot p {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 800;
  text-shadow: none;
  text-transform: uppercase;
}

.petitmot hr {
  width: 50%;
  color: gray;
  margin: 0 auto 5px;
}

.petitmot :nth-child(3) {
  font-weight: 300;
}

.stagierContent {
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
}

.stagierContent .stagier-info {
  width: 50%;
  background-color: black;
  margin: 0 15px;
  padding: 30px 10px 5px;
}

.stagierContent .stagier-info .stagier {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.stagierContent .stagier-info .stagier .stagierPhoto {
  width: 110px;
  height: 110px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 20px;
}

.stagierContent .stagier-info .stage-temoignage {
  width: 90%;
  background-color: white;
  margin: 20px auto;
  padding: 10px;
}

.stagierContent .stagier-info .stage-temoignage h3 {
  color: black;
  margin-bottom: 10px;
}

.stagierContent .stagier-info .stage-temoignage p {
  color: black;
}

/********************************FORMAT TABLETTE ET MOBILE*******/
@media (max-width: 790px) {
  .stageCarrousel-container .mySlides img {
    height: 200px;
  }
  .stagierContent {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .stagierContent .stagier-info {
    width: 80%;
    margin: 10px auto;
    padding: 30px 10px 5px;
  }
}

section#Evenement {
  display: flex;
  justify-content: center;
}

section#Evenement div.information {
  flex-basis: 45%;
  margin: 0 1.5%;
  order: 1;
}

section#Evenement div.information h1 {
  margin-bottom: 0.5em;
}

section#Evenement div.information div.infoEvenement {
  border: 1px solid black;
  min-height: 45vh;
  margin: 1em 0;
  background: rgba(255, 255, 255, 0.5);
}

section#Evenement div.information div.infoEvenement .info {
  display: flex;
  padding: 1em;
  flex-basis: 100%;
}

section#Evenement div.information div.infoEvenement .info h3 {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

section#Evenement div.information div.infoEvenement .info ul {
  padding: 0.5em 0 0 2em;
}

section#Evenement div.information div.infoEvenement .info ul li {
  color: inherit;
  text-shadow: none;
  list-style-type: none;
}

section#Evenement div.information div.infoEvenement .info span {
  font-size: 0.7em;
}

section#Evenement div.information div.infoEvenement a button {
  flex-basis: 100%;
  width: 25em;
  height: 2.5em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

section#Evenement div.calendrier {
  flex-basis: 50%;
}

section#Evenement div.calendrier table.mois {
  width: 100%;
  height: 50vh;
  border: 5px solid black;
  background-color: black;
}

section#Evenement div.calendrier table.mois tbody {
  background-color: white;
}

section#Evenement div.calendrier table.mois tbody tr.moisActuel {
  height: 20%;
  font-size: 2em;
}

section#Evenement div.calendrier table.mois tbody tr.moisActuel h2 {
  color: black;
}

section#Evenement div.calendrier table.mois tbody .autreMois {
  background-color: #e4e4e4;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine td {
  font-weight: bolder;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine,
section#Evenement div.calendrier table.mois tbody .semaine {
  text-align: center;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine td,
section#Evenement div.calendrier table.mois tbody .semaine td {
  width: 14%;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine td a,
section#Evenement div.calendrier table.mois tbody .semaine td a {
  color: black;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine .aujourdhui,
section#Evenement div.calendrier table.mois tbody .semaine .aujourdhui {
  background-color: #cacaca;
}

@media (min-width: 521px) and (max-width: 980px) {
  section#Evenement {
    display: flex;
    flex-direction: column;
  }
  section#Evenement div.information {
    flex-basis: 45%;
    margin: 0 1.5%;
    order: 0;
  }
  section#Evenement div.information h1 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  section#Evenement {
    display: flex;
    flex-direction: column;
  }
  section#Evenement div.information {
    flex-basis: 45%;
    margin: 0 1.5%;
    order: 0;
  }
  section#Evenement div.information h1 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  /*conteneur de la section*/
  #desktop-conteneur {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*classe pour opouvoir faire fonctionner le JS*/
  .afficher-prof {
    display: none;
  }
  /*classe utiliser ajuster l'emplaacement de la div du prof choisi */
  .choix-prof {
    align-self: center;
    align-content: center;
    flex-direction: column;
  }
  /* le style de tout la carte du prof affichée*/
  #prof-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  /* pour faire appaitre une carte par défaut */
  .afficher-prof:first-child {
    display: flex;
  }
  /* le nom de la carte par défaut allumée */
  .prof-liste li:first-child a {
    color: white;
  }
  /* style de l'image du professeur */
  .prof-image {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    align-self: center;
    margin: 2% 2% 0 0;
  }
  /* style pour le nom du prof */
  .afficher-prof h2 {
    align-self: center;
    margin: 1vh 1vw;
  }
  /* style pour le email du prof */
  .afficher-prof h3 {
    align-self: center;
    margin: .5vh 1vw;
  }
  /* style pour le texte du prof */
  .afficher-prof p {
    color: #c5c2c2dc;
    text-align: left;
    align-self: center;
    line-height: 2vh;
    width: 60vw;
    height: 18vh;
    padding: 2vh 2vw;
    margin-top: 2vh;
    background: black;
  }
  /* efface la scroll bar du texte*/
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  /*tite flèche qui dit que ça continue plus bas*/
  .prof-fleche {
    align-self: center;
    position: relative;
    height: 2.5vh;
    width: auto;
    margin-bottom: 1vh;
  }
  /* stlye et formatage de la liste de noms */
  .prof-liste {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 0 !important;
    padding: 2vh 1vw;
    background: #070f0a;
    width: 60vw;
    /* effet de lumiere au hover de la liste*/
  }
  .prof-liste li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto;
    height: auto;
  }
  .prof-liste a {
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 10%;
    text-shadow: 1px 1px #fff8f856;
    font-size: 1rem;
  }
  .prof-liste a:hover {
    color: white;
    text-shadow: 18px 0px 20px white, -16px 0px 17px white;
  }
}

@media (min-width: 521px) and (max-width: 980px) {
  /*conteneur de la section*/
  #desktop-conteneur {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*classe pour pouvoir faire fonctionner le JS*/
  .afficher-prof {
    display: none;
  }
  /* classe de positionnement pour les carte de prof qui apparaisse avec le js*/
  .choix-prof {
    align-self: center;
    align-content: center;
    flex-direction: column;
  }
  /*formatage de la carte de presentation des profs */
  #prof-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  /* affichage par defaut la premiere carte de prof*/
  .afficher-prof:first-child {
    display: flex;
  }
  /* highlight du nom de la carte par defaut */
  .prof-liste li:first-child a {
    color: white;
  }
  /* foramtage de l'image du prof */
  .prof-image {
    object-fit: cover;
    width: 20vw;
    height: 30vh;
    align-self: center;
  }
  /* foramtage du nom du prof */
  .afficher-prof h2 {
    align-self: center;
    margin-top: 2vh;
  }
  /* foramtage du email du prof */
  .afficher-prof h3 {
    align-self: center;
    margin: 2vh 0;
  }
  /* foramtage du texte du prof */
  .afficher-prof p {
    color: #e0d9d9;
    line-height: 1.6;
    text-align: left;
    align-self: center;
    width: 60vw;
    height: 15vh;
    padding: 2vh 2vw;
    background: black;
    margin-bottom: 0.5vh;
  }
  /* cacher la scroll bar du texte */
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  /* tite fleche */
  .prof-fleche {
    align-self: center;
    position: relative;
    height: 1.5vh;
    width: auto;
    margin-bottom: 1vh;
  }
  /* formatage et style de la liste des noms des profs */
  .prof-liste {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-self: center;
    justify-content: stretch;
    margin: 0 !important;
    padding: 2vh 2vw;
    background: black;
    width: 60vw;
  }
  .prof-liste li {
    flex: 4;
    list-style: none;
    flex-wrap: wrap;
    width: 25%;
    height: 33%;
    padding: 0;
    justify-self: flex-start;
    padding: 2%;
    align-self: center;
  }
  .prof-liste a {
    width: 100%;
    cursor: pointer;
    height: 100%;
    text-shadow: 1px 1px #fff8f856;
    font-size: 1rem;
    padding: 0;
  }
  .prof-liste a:hover {
    color: white;
    text-shadow: 18px 0px 20px white, -16px 0px 17px white;
  }
}

@media (min-width: 981px) {
  /* conteneur de la section */
  #desktop-conteneur {
    margin: 2%;
  }
  /*classe pour pouvoir faire fonctionner le JS*/
  .afficher-prof {
    display: none;
  }
  /*classe formater les div de JS*/
  .choix-prof {
    align-content: center;
    flex-direction: row;
  }
  #prof-presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .afficher-prof:first-child {
    display: flex;
  }
  .prof-liste li:first-child a {
    color: white;
  }
  .prof-image {
    width: 10vw;
    height: 25vh;
    object-fit: cover;
    margin: 0 !important;
    margin-top: 2vh !important;
    align-self: center;
  }
  .afficher-prof h2 {
    align-self: flex-start;
    margin-left: 0vw !important;
    margin-bottom: 0vh !important;
    padding-bottom: 1.7vh;
  }
  .afficher-prof h3 {
    align-self: flex-start;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .afficher-prof p {
    color: #c5c2c2dc;
    line-height: 1.6;
    text-align: left;
    align-self: center;
    width: 65vw;
    height: 25vh;
    padding: 2vw;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    background: black;
  }
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  .prof-fleche {
    align-self: center;
    position: relative;
    height: 2.5vh;
    width: auto;
    margin-bottom: 0 !important;
  }
  .prof-liste {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vh;
    height: 30vh;
    padding: 1vh 1vw;
    background: black;
    width: 75vw;
  }
  .prof-liste li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-content: space-around;
    flex-wrap: wrap;
    width: 12vw;
    height: auto;
  }
  .prof-liste a {
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 2vh;
    text-shadow: 1px 1px #fff8f856;
  }
  .prof-liste a:hover {
    color: white;
    text-shadow: 18px 0px 20px white, -16px 0px 17px white;
  }
}

/* 
*
*    Section du site : Projet.   
*    Auteur: Charles Noël,
*    Template du style css de l'animation des accordéons.
*    Bureau, mobile & tablette.
*
*/
div#projetAccordeon {
  padding-top: 15%;
  box-sizing: border-box;
}

div#projetAccordeon ul {
  display: flex;
  min-height: 50vh;
  max-height: 50vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

div#projetAccordeon li {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 20px;
  background: #000000;
  cursor: pointer;
  transition: all .5s ease;
}

div#projetAccordeon li:hover {
  background: #1a1a1a;
}

div#projetAccordeon li.projetActive {
  flex: 5;
  background: #ffffff;
  cursor: default;
}

div#projetAccordeon li.projetActive h3 {
  color: black;
}

div#projetAccordeon li.projetActive h2 {
  color: #000000;
}

div#projetAccordeon li.projetActive .section-content {
  flex: 4;
  display: flex;
  transform: scaleX(1);
  color: #000000;
}

div#projetAccordeon li .section-title {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

div#projetAccordeon li .section-title h2 {
  margin: 0;
  transform: rotate(-90deg);
  white-space: nowrap;
}

div#projetAccordeon li .section-content {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  display: none;
  transition: all .25s .1s ease-out;
}

@media (min-width: 521px) and (max-width: 980px) {
  div#projetAccordeon ul {
    display: flex;
    flex-direction: column;
  }
  div#projetAccordeon li {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
  }
  div#projetAccordeon li:hover {
    background: #1a1a1a;
  }
  div#projetAccordeon li.projetActive {
    flex: 0 5;
  }
  div#projetAccordeon li.projetActive .section-content {
    flex: 0 4;
    display: flex;
    flex-direction: column;
  }
  div#projetAccordeon li .section-title {
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
  }
  div#projetAccordeon li .section-title h2 {
    transform: rotate(0deg);
    white-space: nowrap;
  }
  div#projetAccordeon li h3 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  div#projetAccordeon li .section-content {
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 520px) {
  div#projetAccordeon ul {
    display: flex;
    flex-direction: column;
  }
  div#projetAccordeon li {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  div#projetAccordeon li:hover {
    background: #1a1a1a;
  }
  div#projetAccordeon li.projetActive {
    flex: 0 5;
  }
  div#projetAccordeon li.projetActive .section-content {
    flex: 0 4;
    display: flex;
    flex-direction: column;
  }
  div#projetAccordeon li .section-title {
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
  }
  div#projetAccordeon li .section-title h2 {
    transform: rotate(0deg);
    white-space: nowrap;
  }
  div#projetAccordeon li h3 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  div#projetAccordeon li .section-content {
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#ToutesSessions {
  box-sizing: border-box;
}

#ToutesSessions #accordeonSession {
  display: flex;
  min-height: 85vh;
  max-height: 85vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

#ToutesSessions li {
  flex: 1;
  display: flex;
  align-items: stretch;
  transition: all 2s ease;
}

#ToutesSessions li.coursActive {
  flex: 20 0;
  cursor: default;
}

#ToutesSessions li.coursActive .fenetreCours {
  flex: 20 0;
  display: flex;
}

#ToutesSessions li .boutonSession {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: center;
}

#ToutesSessions li .boutonSession h2 {
  margin: 0;
  white-space: nowrap;
}

#ToutesSessions li .fenetreCours {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
  display: none;
  transition: all .25s .1s ease-out;
}

@media (min-width: 521px) and (max-width: 980px) {
  div#ToutesSessions #accordeonSession {
    flex-direction: column;
    max-height: none;
  }
  div#ToutesSessions li {
    flex: 0 1;
    flex-direction: column;
    transition: all 2s ease;
  }
  div#ToutesSessions li.coursActive {
    flex: 0 5;
  }
  div#ToutesSessions li.coursActive .fenetreCours {
    flex: 0 4;
    display: flex;
    flex-direction: column;
  }
  div#ToutesSessions li .boutonSession {
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
  }
  div#ToutesSessions li .fenetreCours {
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  div#ToutesSessions #accordeonSession {
    display: flex;
    flex-direction: column;
    max-height: none;
  }
  div#ToutesSessions li {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  div#ToutesSessions li.coursActive {
    flex: 20;
  }
  div#ToutesSessions li.coursActive .section-content {
    flex: 20;
    display: flex;
    flex-direction: column;
  }
  div#ToutesSessions li .boutonSession {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  div#ToutesSessions li .fenetreCours {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */