/*Feuille de style*/
section#Programme {
  display: flex;
  flex-wrap: wrap;
}

section#Programme h1#SectionProgramme {
  flex-basis: 100%;
}

section#Programme #DescriptionGenerale {
  flex-basis: 50%;
}

section#Programme #DescriptionGenerale ul.listeEtapeProduction {
  list-style-type: none;
}

section#Programme #DescriptionGenerale ul.listeEtapeProduction li::before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

section#Programme #ToutesSessions {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
}

section#Programme #ToutesSessions .listeBoutons {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
}

section#Programme #ToutesSessions div.session {
  display: flex;
}

section#Programme #ToutesSessions div.session .boutonSession {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 20%;
  order: 1;
  min-height: 70vh;
  background-color: white;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

section#Programme #ToutesSessions div.session .boutonSession h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-self: flex-end;
  margin: 0 20px 0 0;
  padding-bottom: 20px;
  margin: 0;
}

section#Programme #ToutesSessions div.session .fenetreCours {
  display: flex;
  flex-basis: 60%;
  order: 0;
  padding-left: 1em;
}

section#Programme #ToutesSessions div.session .fenetreCours .listeCours {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

section#Programme #ToutesSessions div.session .fenetreCours .listeCours li {
  margin: 0;
  padding: 0;
}

section#Programme #ToutesSessions div.session .fenetreCours .listeCours li .descriptionCours {
  width: 60vw;
  height: fit-content;
}

section#Programme #ToutesSessions div.session .fenetreCours .listeCours li .descriptionCours ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

section#Programme #ToutesSessions div.session .cachee {
  display: none;
}

section#Programme #ToutesSessions div.session .visible {
  display: flex;
}

@media (min-width: 521px) and (max-width: 980px) {
  section#Programme {
    background-color: orange;
    height: fit-content;
  }
  section#Programme #DescriptionGenerale {
    flex-basis: 100%;
    display: block;
  }
  section#Programme #ToutesSessions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-evenly;
  }
  section#Programme #ToutesSessions div.session {
    flex-direction: column;
  }
  section#Programme #ToutesSessions div.session .boutonSession {
    justify-content: center;
    background-color: white;
    min-height: auto;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    order: 0;
  }
  section#Programme #ToutesSessions div.session .boutonSession h2 {
    writing-mode: horizontal-tb;
    width: 80vw;
    padding: 4vh 0;
    margin: 0;
  }
}

@media (max-width: 520px) {
  section#Programme {
    background-color: pink;
    height: fit-content;
  }
  section#Programme #DescriptionGenerale {
    flex-basis: 100%;
  }
  section#Programme #ToutesSessions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-evenly;
  }
  section#Programme #ToutesSessions div.session {
    flex-direction: column;
  }
  section#Programme #ToutesSessions div.session .boutonSession {
    justify-content: center;
    background-color: white;
    min-height: auto;
    border: none;
    padding: 0;
    width: 100%;
    order: 0;
  }
  section#Programme #ToutesSessions div.session .boutonSession h2 {
    writing-mode: horizontal-tb;
    padding: 3vh 0;
    margin: 0;
  }
}

.site-branding {
  display: flex;
  justify-content: center;
  position: relative;
}

#logo-cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 37vw;
  width: 37vw;
  background: linear-gradient(90deg, #71cf94 0%, #e4ed0e 22%, #eeb813 39%, #dca332 56%, #c18362 75%, #00d4ff 100%);
  border: solid 1px white;
  justify-content: center;
  border-radius: 50%;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.site-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  font-size: 8em;
  text-align: center;
  border-radius: 100%;
  height: 35vw;
  width: 35vw;
  justify-content: center;
  background-color: black;
  color: linear-gradient(90deg, #71cf94 0%, #e4ed0e 22%, #eeb813 39%, #dca332 56%, #c18362 75%, #00d4ff 100%);
  box-shadow: 0px 0px 14px 0px #f8f8f8;
}

.site-title > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 25vw;
  background-image: url(../images/LogoTIM.png);
  background-image: url(../images/logoTIM.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.site-title > a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 35vw;
  background-image: url(../images/Techniques.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  /* webkit=para navegadores antiguos y moz para los actuales*/
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3vh;
  text-decoration: none;
  text-shadow: 2px 2px 10px #494949;
}

h2,
h3,
h4,
p,
a,
li {
  color: #dfdfdf;
  text-decoration: none;
  text-shadow: 2px 2px 10px #494949;
}

button.boutonSession h2 {
  color: #272727;
}

section {
  margin-bottom: 8%;
}

.site-main {
  max-width: 1920px;
  margin: 0 auto;
}

#background-noise {
  background-image: url(../images/noise.png);
  background-repeat: repeat;
}

.site-branding {
  display: flex;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1910px) {
  .site-main {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 979px) {
  header .main-navigation {
    display: none;
  }
  header .menu-bar-movil {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid gray;
    background-color: black;
  }
  header .menu-bar-movil .logo img {
    max-width: 30px;
    position: relative;
    left: 20px;
  }
  header .menu-bar-movil .technique p {
    font-size: 10px;
    color: white;
  }
  header .menu-bar-movil .burger-menu {
    cursor: pointer;
    font-size: 30px;
    color: hotpink;
    position: relative;
    right: 20px;
  }
  header .menu-bar-movil .burger-menu:active {
    color: aqua;
  }
  header .menu-bar-movil .slideMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 52px;
    right: -100%;
    background: aqua;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
  }
  header .menu-bar-movil .slideMenu.active {
    right: 0;
  }
  header .menu-bar-movil .slideMenu .top-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0 40px 100px;
  }
  header .menu-bar-movil .slideMenu .top-redes img {
    margin-bottom: 5px;
    width: 20px;
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
  }
  header .menu-bar-movil .slideMenu .top-redes img:hover {
    width: 22px;
    background-color: black;
  }
  header .menu-bar-movil .slideMenu .menu-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    position: relative;
    left: -30px;
  }
  header .menu-bar-movil .slideMenu .menu-principal a {
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  header .menu-bar-movil .slideMenu .menu-principal a:hover {
    font-weight: 800;
    color: black;
  }
  header .menu-bar-movil .slideMenu .fermer {
    color: gray;
    position: relative;
    right: 25px;
    top: 20px;
    font-size: 20px;
  }
  header .menu-bar-movil .slideMenu .fermer i:hover {
    cursor: pointer;
    color: white;
    padding: 3px 5px;
    background-color: black;
    box-shadow: 2px 2px 10px #494949;
  }
}

body {
  min-height: auto;
  background-color: #141414;
  animation: body 1s linear;
}

@keyframes body {
  from {
    background-color: linear-gradient(180deg, #6d6d6d 5%, black 10%);
  }
  10% {
    background-color: #692abb;
  }
  70% {
  }
  to {
    background-color: #cf0060;
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}

@keyframes progress {
  to {
    background-color: #14ffe2;
    width: 100%;
  }
}

.cube-wrap {
  --size: 7vmin;
  position: fixed;
  height: 0;
  perspective: 100vmin;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}

@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
}

.top {
  background-color: #fff;
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
}

.bottom {
  background-color: #999;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
}

.left {
  background-color: #ccc;
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
}

.right {
  background-color: #ddd;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
}

.front {
  background-color: #aaa;
  transform: translateZ(calc(var(--size) * 0.5));
}

.back {
  background-color: #bbb;
  transform: translateZ(calc(var(--size) * -0.5));
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@media screen and (min-width: 980px) {
  .menu-bar-movil {
    display: none;
  }
  .main-navigation ul li {
    display: flex;
    position: fixed;
  }
  .main-navigation ul li a {
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 3vh;
    text-decoration: none;
    text-shadow: 2px 2px 10px #494949;
    transition: .10s;
  }
  .main-navigation ul li a:hover {
    color: #b0f5ff;
  }
  .main-navigation ul li .liensActif {
    font-size: 3.4vh;
    color: #B0F5FF;
  }
  .main-navigation ul li img {
    width: 36px;
    height: 36px;
    box-shadow: 2px 2px 10px #494949;
    border-radius: 15%;
  }
  .main-navigation ul li:nth-child(1) {
    left: 1.5%;
    top: 12%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(1):hover {
    top: 14%;
  }
  .main-navigation ul li:nth-child(2) {
    left: 1%;
    top: 28%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(2):hover {
    top: 29%;
  }
  .main-navigation ul li:nth-child(3) {
    left: 1%;
    top: 58%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(3):hover {
    top: 59%;
  }
  .main-navigation ul li:nth-child(4) {
    left: 1%;
    top: 84%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(4):hover {
    top: 85%;
  }
  .main-navigation ul li:nth-child(5) {
    right: 1%;
    top: 5%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(5):hover {
    top: 6%;
  }
  .main-navigation ul li:nth-child(6) {
    right: 1%;
    top: 30%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.1s;
  }
  .main-navigation ul li:nth-child(6):hover {
    top: 31%;
  }
  .main-navigation ul li:nth-child(7) {
    right: 1%;
    top: 67%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(7):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
  .main-navigation ul li:nth-child(8) {
    right: 1%;
    top: 75%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(8):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
  .main-navigation ul li:nth-child(9) {
    right: 1%;
    top: 83%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(9):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
  .main-navigation ul li:nth-child(10) {
    right: 1%;
    top: 90%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 0.5s;
    z-index: 3;
  }
  .main-navigation ul li:nth-child(10):hover {
    opacity: 0.2;
    border-radius: 25%;
  }
}

section#Projet {
  /* caroussel vignette */
  /* div text */
  /* Animation */
}

section#Projet h2#SectionProjet {
  flex-basis: 100%;
}

section#Projet .descriptionProjet {
  list-style: none;
  /* style temporaire */
  padding: 10px;
  background-color: rgba(111, 41, 97, 0.3);
  border: 2px solid rgba(111, 41, 97, 0.5);
}

section#Projet .descriptionProjet h3:hover {
  color: rgba(131, 115, 115, 0.603);
  cursor: pointer;
}

section#Projet .descriptionProjet a p:hover {
  color: darkgray;
  cursor: pointer;
}

section#Projet .vignette-Projet {
  width: auto;
  height: auto;
}

section#Projet .image-carousselfade {
  flex-direction: row;
  display: none;
}

section#Projet .info-Vignette {
  order: 1;
  align-self: flex-end;
}

section#Projet .image-Projet {
  order: 2;
  flex-grow: 4;
}

section#Projet img {
  width: 60vw;
  height: auto;
}

section#Projet .clip-polygon {
  border-radius: 61% 39% 27% 73% / 31% 46% 54% 69%;
}

section#Projet .fade {
  animation: fadeIn ease 3s;
}

section#Projet .swipe {
  animation: swipe ease 3s;
}

@keyframes fadeIn {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes swipe {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 521px) and (max-width: 980px) {
  section#SectionEtudiant {
    background-color: orange;
    height: fit-content;
  }
}

@media (max-width: 520px) {
  section#SectionEtudiant {
    background-color: pink;
    height: fit-content;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  .stage {
    margin: 30px 0;
  }
  .stage .stagecontent {
    width: 100%;
  }
  .stage .stagecontent .CarrouselContent {
    overflow: hidden;
  }
  .stage .stagecontent .CarrouselContent .SliderCarrousel {
    width: 300%;
    display: flex;
  }
  .stage .stagecontent .CarrouselContent .SliderCarrousel .slide {
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
  }
  .stage .stagecontent .CarrouselContent .SliderCarrousel .slide.photo1 {
    background-image: url("../images/logos/logo_fontNoir.jpg");
  }
  .stage .stagecontent .CarrouselContent .SliderCarrousel .slide.photo2 {
    background-image: url("../images/logos/logo_fontRose.jpg");
  }
  .stage .stagecontent .CarrouselContent .SliderCarrousel .slide.photo3 {
    background-image: url("../images/logos/logos_fondBlue.jpg");
  }
  .stage .stagecontent .stagierContent {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .stage .stagecontent .stagierContent .liste {
    display: none;
  }
  .stage .stagecontent .stagierContent .stagier-info {
    width: 90%;
    background-color: black;
    margin: 10px auto;
    padding: 30px 10px 5px;
  }
  .stage .stagecontent .stagierContent .stagier-info .stagier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .stage .stagecontent .stagierContent .stagier-info .stagier .stagierPhoto {
    width: 110px;
    height: 110px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .stage .stagecontent .stagierContent .stagier-info .stage-temoignage {
    width: 90%;
    background-color: white;
    margin: 20px auto;
    padding: 10px;
  }
  .stage .stagecontent .stagierContent .stagier-info .stage-temoignage h3 {
    color: black;
    margin-bottom: 10px;
  }
  .stage .stagecontent .stagierContent .stagier-info .stage-temoignage p {
    color: black;
  }
}

/**************************************Format bureau*/
@media (min-width: 700px) {
  .stagierContent {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
  }
  .stagierContent .liste {
    display: none;
  }
  .stagierContent .stagier-info {
    width: 50%;
    background-color: black;
    margin: 0 10px;
    padding: 30px 10px 5px;
  }
  .stagierContent .stagier-info .stagier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .stagierContent .stagier-info .stagier .stagierPhoto {
    width: 110px;
    height: 110px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 20px;
  }
  .CarrouselContent {
    overflow: hidden;
  }
  .CarrouselContent .SliderCarrousel {
    width: 300%;
    display: flex;
  }
  .CarrouselContent .SliderCarrousel .slide {
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    margin: 25px;
  }
  .CarrouselContent .SliderCarrousel .slide.photo1 {
    background-image: url("../images/logos/logo_fontNoir.jpg");
  }
  .CarrouselContent .SliderCarrousel .slide.photo2 {
    background-image: url("../images/logos/logo_fontRose.jpg");
  }
  .CarrouselContent .SliderCarrousel .slide.photo3 {
    background-image: url("../images/logos/logos_fondBlue.jpg");
  }
}

section#Evenement {
  display: flex;
  justify-content: center;
}

section#Evenement div.information {
  flex-basis: 45%;
  margin: 0 1.5%;
  order: 1;
}

section#Evenement div.information h1 {
  margin-bottom: 0.5em;
}

section#Evenement div.information div.infoEvenement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid black;
  min-height: 45vh;
  margin-top: 5px;
}

section#Evenement div.information div.infoEvenement .info {
  padding: 1em;
  flex-basis: 100%;
}

section#Evenement div.information div.infoEvenement .info li {
  color: inherit;
  text-shadow: none;
}

section#Evenement div.information div.infoEvenement .info span {
  font-size: 0.7em;
}

section#Evenement div.information div.infoEvenement a button {
  flex-basis: 100%;
  width: 25em;
  height: 2.5em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

section#Evenement div.calendrier {
  flex-basis: 50%;
}

section#Evenement div.calendrier table.mois {
  width: 100%;
  height: 50vh;
  border: 5px solid black;
  background-color: black;
}

section#Evenement div.calendrier table.mois tbody {
  background-color: white;
}

section#Evenement div.calendrier table.mois tbody tr.moisActuel {
  height: 20%;
  font-size: 2em;
}

section#Evenement div.calendrier table.mois tbody tr.moisActuel h2 {
  color: black;
}

section#Evenement div.calendrier table.mois tbody .autreMois {
  background-color: #e4e4e4;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine td {
  font-weight: bolder;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine,
section#Evenement div.calendrier table.mois tbody .semaine {
  text-align: center;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine td,
section#Evenement div.calendrier table.mois tbody .semaine td {
  width: 14%;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine td a,
section#Evenement div.calendrier table.mois tbody .semaine td a {
  color: black;
}

section#Evenement div.calendrier table.mois tbody tr.jourSemaine .aujourdhui,
section#Evenement div.calendrier table.mois tbody .semaine .aujourdhui {
  background-color: #cacaca;
}

@media (min-width: 521px) and (max-width: 980px) {
  section#Evenement {
    display: flex;
    flex-direction: column;
  }
  section#Evenement div.information {
    flex-basis: 45%;
    margin: 0 1.5%;
    order: 0;
  }
  section#Evenement div.information h1 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  section#Evenement {
    display: flex;
    flex-direction: column;
  }
  section#Evenement div.information {
    flex-basis: 45%;
    margin: 0 1.5%;
    order: 0;
  }
  section#Evenement div.information h1 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  #desktop-conteneur {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .afficher-prof {
    display: none;
  }
  .choix-prof {
    align-self: center;
    color: #050505;
    align-content: center;
    flex-direction: column;
  }
  #prof-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  #prof-presentation h2 {
    align-self: center;
    margin-bottom: .1vh;
    color: white;
  }
  #prof-presentation h3 {
    align-self: center;
    margin-top: .1vh;
    color: white;
  }
  #prof-presentation p {
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 70vw;
    color: white;
  }
  .afficher-prof:first-child {
    display: flex;
  }
  .prof-liste li:first-child a {
    color: white;
  }
  .afficher-prof img {
    width: 25vw;
    height: auto;
    align-self: center;
    border-radius: 20px;
    margin: 2% 2% 0 0;
    border: 5px solid white;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  .afficher-prof h2 {
    align-self: center;
  }
  .afficher-prof h3 {
    align-self: center;
  }
  .afficher-prof p {
    text-align: left;
    align-self: center;
    width: 60vw;
    height: 15vh;
    padding: 2vh 2vw;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 5px solid white;
    background: linear-gradient(to bottom, #08F7FE 0%, #FE53BB 100%);
  }
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  .prof-liste {
    display: flex;
    list-style: none;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 2vh 2vw;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 5px solid white;
    border-radius: 20px;
    background: linear-gradient(to bottom, #FE53BB 0%, #f5d300 100%);
    width: 70vw;
  }
  .prof-liste > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 1%;
  }
  .prof-liste a {
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 2vh;
    text-shadow: 1px 1px #fff8f856;
    font-size: 1rem;
  }
  .prof-liste a:hover {
    color: white;
  }
}

@media (min-width: 521px) and (max-width: 980px) {
  #desktop-conteneur {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .afficher-prof {
    display: none;
  }
  .choix-prof {
    align-self: center;
    color: #050505;
    align-content: center;
    flex-direction: column;
  }
  #prof-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  #prof-presentation h2 {
    align-self: center;
    margin-bottom: .1vh;
    color: white;
  }
  #prof-presentation h3 {
    align-self: center;
    margin-top: .1vh;
    color: white;
  }
  #prof-presentation p {
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 70vw;
    color: white;
  }
  .afficher-prof:first-child {
    display: flex;
  }
  .prof-liste li:first-child a {
    color: white;
  }
  .afficher-prof img {
    width: 25vw;
    height: auto;
    align-self: center;
    border-radius: 20px;
    margin: 2% 2% 0 0;
    border: 5px solid white;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  .afficher-prof h2 {
    align-self: center;
  }
  .afficher-prof h3 {
    align-self: center;
  }
  .afficher-prof p {
    text-align: left;
    align-self: center;
    width: 60vw;
    height: 15vh;
    padding: 2vh 2vw;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 5px solid white;
    background: linear-gradient(to bottom, #08F7FE 0%, #FE53BB 100%);
  }
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  .prof-liste {
    display: flex;
    list-style: none;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 2vh 2vw;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 5px solid white;
    border-radius: 20px;
    background: linear-gradient(to bottom, #FE53BB 0%, #f5d300 100%);
    width: 70vw;
  }
  .prof-liste > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 1%;
  }
  .prof-liste a {
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 2vh;
    text-shadow: 1px 1px #fff8f856;
    font-size: 1rem;
  }
  .prof-liste a:hover {
    color: white;
  }
}

@media (min-width: 981px) {
  #desktop-conteneur {
    margin: 2%;
  }
  .afficher-prof {
    display: none;
  }
  .choix-prof {
    color: #050505;
    align-content: center;
    flex-direction: row;
  }
  #prof-presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
  #prof-presentation h2 {
    align-self: flex-start;
    margin-bottom: .1vh;
    color: white;
  }
  #prof-presentation h3 {
    align-self: flex-start;
    margin-top: .1vh;
    color: white;
  }
  #prof-presentation p {
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: white;
  }
  .afficher-prof:first-child {
    display: flex;
  }
  .prof-liste li:first-child a {
    color: white;
  }
  .afficher-prof img {
    width: 15vw;
    height: auto;
    align-self: center;
    border-radius: 20px;
    margin: 2% 2% 0 0;
    border: 5px solid white;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  .afficher-prof h2 {
    align-self: center;
  }
  .afficher-prof h3 {
    align-self: center;
  }
  .afficher-prof p {
    text-align: left;
    align-self: center;
    width: 64vw;
    height: 20vh;
    padding: 2vw;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 5px solid white;
    background: linear-gradient(to bottom, #08F7FE 0%, #FE53BB 100%);
  }
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  .prof-liste {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0px #00020f70, inset 4px 4px 15px 0px #040d22, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 5px solid white;
    border-radius: 20px;
    height: 30vh;
    background: linear-gradient(to bottom, #FE53BB 0%, #f5d300 100%);
  }
  .prof-liste > li {
    display: flex;
    flex-grow: 6;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-content: space-around;
    flex-wrap: wrap;
    width: 12vw;
    height: auto;
  }
  .prof-liste a {
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 2vh;
    text-shadow: 1px 1px #fff8f856;
  }
  .prof-liste a:hover {
    color: white;
  }
}
/*# sourceMappingURL=styles.css.map */