/* test d'accordéon */

div#projetAccordeon {
    padding-top: 15%;
    box-sizing: border-box;
    ul {

        display: flex;
        min-height: 50vh;
        max-height: 50vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none;
    }

    li {
        flex: 1;
        display: flex;
        align-items: stretch;
        padding: 20px;
        background: #000000;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            background: darken(#222222, 3);
        }

        &.projetActive {
            flex: 5;
            background: #ffffff;
            h3{
                color: black;
            }
            cursor: default;

            h2 {
                color: #000000;
            }

            .section-content {
                flex: 4;
                display: flex;
                transform: scaleX(1);
                color: #000000;
            }
        }

        .section-title {
            flex: 1;
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
            color: white;

            h2 {
                margin: 0;
                transform: rotate(-90deg);
                white-space: nowrap;
            }
        }

        .section-content {
            flex: 1;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            display: none;
            transition: all .25s .1s ease-out;
        }
    }

}