// Test
// Formatage de la section Programme*********************************************************************************************
section#Programme {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.6;

    // Formatage du DIV contenant la description général de la technique***********************************************************
    #DescriptionGenerale {
        flex-basis: 100%;

        ul.listeEtapeProduction {
            list-style-type: none;

            li::before {
                display: inline-block;
                content: "-";
                width: 1em;
                margin-left: -1em;
            }
        }
    }

    // Formatage de la DIV contenant TOUTES les sessions**********************************************
    #ToutesSessions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;

            #accordeonSession {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                justify-content: space-evenly;
                margin: 0;
                padding: 0;
                list-style-type: none;
                overflow: hidden;

                li.session {
                    flex: 1;
                    width: 100%;
                    margin: 0.5em 0;

                    &.active {
                        flex: 5;
                        .fenetreCours {
                            flex: 4;
                        }
                    }

                    .boutonSession {
                        background-color: white;
                        display: flex;
                        flex: 1;
                        justify-content: center;                    
                    
                        &:hover{
                            background-color: black;

                            h2 {
                                color: inherit;
                                text-shadow: 2px 2px 10px rgb(228, 228, 228);
                            }
                        }

                        h2 {
                            color: black;
                        }
                    }

                    .fenetreCours {
                        background-color: rgba($color: #ffffff, $alpha: 0.2);
                        transition: all .25s .1s ease-out;
                        .listeCours {
                            margin: 0;
                            padding: 0 1em;
                            list-style-type: none;

                            .descriptionCours {
                                h3:hover {
                                    color: black;
                                    text-shadow: 2px 2px 10px rgb(228, 228, 228);

                                }
                                ul {
                                    list-style-type: none;
                                    margin: 0;
                                    padding-left: 1.5em;
                                }
                            }
                        }
                    }  
                }    
            }

        .cachee {
            display: none;
        }
        .visible {
            display: flex;
        }
        .coursVisible {
            display: block;
        }        
    }
}