// Test
// Formatage de la section Programme*********************************************************************************************
section#Programme {
    display: flex;
    flex-wrap: wrap;

    // Formatage du H1 contenant le titre de la section**************************************************************************
    h1#SectionProgramme {
        flex-basis: 100%;
    }

    // Formatage du DIV contenant la description général de la technique***********************************************************
    #DescriptionGenerale {
        flex-basis: 100%;

        ul.listeEtapeProduction {
            list-style-type: none;

            li::before {
                display: inline-block;
                content: "-";
                width: 1em;
                margin-left: -1em;
            }
        }
    }

    // Formatage de la DIV contenant TOUTES les sessions**********************************************
    #ToutesSessions {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-evenly;

        .listeBoutons {
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;
        }

        // Formatage de la section contenant UNE session**********************************************
        div.session {
            display: flex;

            // Formatage du bouton**********************************************
            .boutonSession {
                display: flex;
                flex-wrap: nowrap;
                flex-basis: 20%;
                min-height: 70vh;
                background-color: white;
                border-radius: 20px;
                //background: url(/images/disintegration.png) no-repeat;
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                border: none;
                
                h2 {
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    align-self: flex-end;
                    margin: 0 20px 0 0;
                    padding-bottom: 20px;
                    margin: 0;
                }
            }
            // Formatage de la DIV contenant tous les cours**********************************************
            .fenetreCours {
                padding: 0 1em;

                // Formatage de la liste de cours**********************************************
                .listeCours {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;

                    list-style: none;
                    padding: 0;

                    // Formatage de l'élément qui contient la description de un cours**********************************************
                    li {
                        .descriptionCours {
                            width: 60vw;
                            height: fit-content;

                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
            .cachee {
                display: none;
            }
            .visible {
                display: flex;
            }
        }           
    }
}
// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 980px) {

    section#Programme {
        height: fit-content;
        
        #DescriptionGenerale {
            flex-basis: 100%;
            display: block;
        }

        #ToutesSessions{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            justify-content: space-evenly;
    
            div.session {
                flex-direction: column;
                .boutonSession {
                    justify-content: center;
                    background-color: white;
                    min-height: auto;
                    border: none;
                    padding: 0;
                    margin: 1em 0;
                    width: 100%;
                    order: 0;    
                             
                    h2 {
                        writing-mode: horizontal-tb;
                        width: 80vw;
                        padding: 4vh 0;
                        margin: 0;
                    }
                }
            }
        }
    }   
}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
    section#Programme {
        height: fit-content;
        
        #DescriptionGenerale {
            flex-basis: 100%;
        }

        #ToutesSessions{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            justify-content: space-evenly;
    
            div.session {
                flex-direction: column;
                .boutonSession {
                    justify-content: center;
                    background-color: white;
                    min-height: auto;
                    border: none;
                    margin: 1em 0;
                    padding: 0;
                    width: 100%;
                    order: 0;
                    h2 {
                        writing-mode: horizontal-tb;
                        padding: 3vh 0;
                        margin: 0;
                    }
                }

            }
        }
    }  
}
