section#Evenement {
    display: flex;
    justify-content: center;


    div.information {
        flex-basis: 45%;
        margin: 0 1.5%;
        order: 1;

        h1 {
            margin-bottom: 0.5em;
        }

        div.infoEvenement {
            border: 1px solid black;
            min-height: 45vh;
            margin: 1em 0;
            background: rgba($color: #ffffff, $alpha: 0.5);

            .info {
                display: flex;
                padding: 1em;
                flex-basis: 100%;

                h3 {
                    margin-bottom: 1em;
                    display: flex;
                    justify-content: center;
                }

                ul {
                    padding: 0.5em 0 0 2em;

                    li {
                    color: inherit;
                    text-shadow: none;
                    list-style-type: none;
                    }
                }

                
                span {
                    font-size: 0.7em;
                }
            }

            a {
                button {
                    flex-basis: 100%;
                width: 25em;
                height: 2.5em;
                border-radius: 50px;
                border: none;
                cursor: pointer;
                }
            }


        }
    }

    div.calendrier {
        flex-basis: 50%;

        table.mois {
            width: 100%;
            height: 50vh;
            border: 5px solid black;
            background-color: black;

            tbody {
                background-color: white;

                tr.moisActuel {
                    height: 20%;
                    font-size: 2em;

                    h2 {
                        color: black;
                    }
                }

                .autreMois {
                    background-color: rgb(228, 228, 228);
                }

                tr.jourSemaine {
                    td {
                        font-weight: bolder;
                    }
                }

                tr.jourSemaine,
                    .semaine {
                        text-align: center;

                        td {
                            width: 14%;

                            a {
                                color: black;
                            }
                        }

                        .aujourdhui {
                            background-color: rgb(202, 202, 202);
                        }
                    }
            }
        }
    }
}
// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 980px) {
    section#Evenement {
        display: flex;
        flex-direction: column;

        
        div.information {
            flex-basis: 45%;
            margin: 0 1.5%;
            order: 0;

            h1 {
                display: flex;
                justify-content: center;
            }
        }
    }
}
// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
    section#Evenement {
        display: flex;
        flex-direction: column;

        div.information {
            flex-basis: 45%;
            margin: 0 1.5%;
            order: 0;

            h1 {
                display: flex;
                justify-content: center;
            }
        }
    }
}
