header {
  .menu-bar-pc {
    background: white;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0; /*que este pegado a la barra de busqueda google*/
    padding: 0 36px;
    display: flex; /*para que se coloque un elemento al lado del otro*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 94px;
    border-bottom: 1px solid gray;
    //display: none;

    .menu-principal {
      a {
        padding: 9px;
        text-decoration: none;
        color: black;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
          color: red;
        }
      }
    }

    .top-redes {
      a {
        padding: 9px;
        color: black;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
          color: red;
        }
      }
    }
  }

  .menu-bar-movil {
    background: white;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    padding: 0 2.25rem;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5.875rem;
    border-bottom: 1px solid gray;

    .burger-menu {
      cursor: pointer;
      font-size: 35px;
      color: red;
    }

    .slideMenu {
      position: fixed;
      top: 94px; //coolocandolo justo debajo de la barra de menu
      left: -100%; /* -80% o 100% oculto, colocado par default**********************************************/
      background: aqua;
      text-align: center;
      padding: 20px 40px;
      width: 80%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &.active {
        left: 0; /* -80% o 100% oculto, colocado par default**********************************************/
      }

      .top-redes {
        margin-bottom: 10px;
        a {
          padding: 9px;
        }
      }

      .menu-principal {
        a {
          display: block;
          padding: 10px 0;
          //border-top: 1px solid gray;
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  header {
    .menu-bar-pc {
      display: none;
    }
    .menu-bar-movil {
      display: flex;
    }
  }
}
