// *************************************************************Général***************************************************************** 
html {
    scroll-behavior: smooth;
    font-family:'Roboto', sans-serif;
}
  
.site-main {
    max-width: 1920px;
    margin: 0 4vw;
    padding: 0 2vw;
}

// *************************************************************Accueil***************************************************************** 
.site-branding {
    display: flex;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

// *************************************************************Programme***************************************************************** 


// *************************************************************Équipe***************************************************************** 

// *************************************************************Footer***************************************************************** 
