// *************************************************************Général*****************************************************************
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; /* webkit=para navegadores antiguos y moz para los actuales*/
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3vh;
  text-decoration: none;
  text-shadow: 2px 2px 10px rgb(73, 73, 73);
}

h2,
h3,
h4,
p,
a,
li {
  color: rgb(223, 223, 223);
  text-decoration: none;
  text-shadow: 2px 2px 10px rgb(73, 73, 73);
}

button.boutonSession h2 {
  color: rgb(39, 39, 39);
}

section{
  margin-bottom: 8%;
}
.site-main {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

#background-noise {
  background-image: url(../images/noise.png);
  background-repeat: repeat;
}

// *************************************************************Accueil*****************************************************************
.site-branding {
  display: flex;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

// @media (max-width: 1910px) {
//   .site-main {
//     padding-left: 5%;
//     padding-right: 5%;
//   }
  
// }
// *************************************************************Programme*****************************************************************

// *************************************************************Équipe*****************************************************************

// *************************************************************Footer*****************************************************************
