body {
  // padding: 0;
  // margin: 0;
  min-height: auto;
  background-color: rgb(20, 20, 20);
  animation: body 1s linear;
}


@keyframes body {
  from {
    // background: linear-gradient(180deg, rgba(109, 109, 109, 1) 0%, rgba(0, 0, 0, 1) 10%);
    background-color: linear-gradient(180deg, rgba(109, 109, 109, 1) 5%, rgba(0, 0, 0, 1) 10%);
    //background-color: rgb(125, 80, 170);
    //background-color: rgb(125, 80, 170);
  }

  10% {
    background-color: rgb(42, 160, 180);
    //background-color: rgb(125, 80, 170);
    //background-color: rgb(125, 80, 170);
  }


  70% {
    // background-color: rgb(125, 80, 170);
    // background-color: rgb(170, 154, 80);
    //background-color: rgb(125, 80, 170);
  }

  to {
    background-color: #912045;
  }
}

section  #Professeur, #Projet, #Professeur, #Stage, #Evenement, #Programme{
  opacity: 0;
}

.bgBlue{
  opacity: 0;
  transform: translateY(-50px);
  animation: sectionTransitionFade 2s forwards!important;
}


@keyframes sectionTransitionFade {
to{
  opacity: 1;
  transform: translateY(0px);
}
}


.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}

@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}

.cube-wrap {
  --size: 7vmin;
  position: fixed;
  height: 0;
  perspective: 100vmin;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}

@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
}

.top {
  background-color: #fff;
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
}

.bottom {
  background-color: #999;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
}

.left {
  background-color: #ccc;
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
}

.right {
  background-color: #ddd;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
}

.front {
  background-color: #aaa;
  transform: translateZ(calc(var(--size) * 0.5));
}

.back {
  background-color: #bbb;
  transform: translateZ(calc(var(--size) * -0.5));
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@media screen and (min-width: 980px) {

  .menu-bar-movil {
    display: none;
  }

  .main-navigation ul {
    li {
      display: flex;
      position: fixed;

      a {
        color: whitesmoke;
        // text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
        // font-size: 2em;
        font-size: 3vh;
        text-decoration: none;
        text-shadow: 2px 2px 10px rgb(73, 73, 73);
        transition: .10s;
      }

      a:hover {
        color: #b0f5ff;
      }


      .liensActif {
        font-size: 3.4vh;
        color: #B0F5FF;
      }

      img {
        width: 36px;
        height: 36px;
        box-shadow: 2px 2px 10px rgb(73, 73, 73);
        border-radius: 15%;
      }
    }

    // lien cube 
    li:nth-child(1) {
      left: 1.5%;
      top: 12%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      transition: 0.1s;

      &:hover {
        top: 14%;
      }
    }

    // lien programme
    li:nth-child(2) {
      left: 1%;
      top: 28%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      transition: 0.1s;
     

      &:hover {
        top: 29%;
      }
    }

    // lien professeur
    li:nth-child(3) {
      left: 1%;
      top: 55%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      transition: 0.1s;

      &:hover {
        top: 56%;
      }
    }

    // lien Étudiant
    li:nth-child(4) {
      left: 1%;
      top: 82%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      transition: 0.1s;

      &:hover {
        top: 83%;
      }
    }

    // len stage
    li:nth-child(5) {
      right: 1%;
      top: 5%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transition: 0.1s;

      &:hover {
        top: 6%;
      }
    }

    // lien Évènement
    li:nth-child(6) {
      right: 1%;
      top: 25%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transition: 0.1s;

      &:hover {
        top: 26%;
      }
    }

    // lien facebook
    li:nth-child(7) {
      right: 1%;
      top: 67%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transition: 0.5s;
      z-index: 3;

      &:hover {
        opacity: 0.2;
        border-radius: 25%;

      }
    }

    // lien instagram
    li:nth-child(8) {
      right: 1%;
      top: 75%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transition: 0.5s;
      z-index: 3;

      &:hover {
        opacity: 0.2;
        border-radius: 25%;
      }
    }

    // lien youtube
    li:nth-child(9) {
      right: 1%;
      top: 83%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transition: 0.5s;
      z-index: 3;

      &:hover {
        opacity: 0.2;
        border-radius: 25%;
      }
    }

    // lien discord
    li:nth-child(10) {
      right: 1%;
      top: 90%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transition: 0.5s;
      z-index: 3;

      &:hover {
        opacity: 0.2;
        border-radius: 25%;
      }
    }
  }
}
