body {
  padding: 0;
  margin: 0;
  min-height: 500vh;
  background-color: rgb(0, 0, 0);
  animation: body 1s linear;
}

@keyframes body {
  22% {
      background-color: rgb(0, 0, 0);
  }
  30% {
      background-color: #CF0060;
  }
  to {
   
      background-color: #FFA300;
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}

@keyframes progress {
  to {
      background-color: rgb(20, 255, 226);
      width: 100%;
  }
}

.cube-wrap {
  --size: 7vmin;
  position: fixed;
  height: 0;
  perspective: 100vmin;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}

@keyframes cube {
  to {
      transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -.5);
  left: calc(var(--size) * -.5);
}

.top {
  background-color: #fff;
  transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}

.bottom {
  background-color: #999;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}

.left {
  background-color: #ccc;
  transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}

.right {
  background-color: #ddd;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
}

.front {
  background-color: #aaa;
  transform: translateZ(calc(var(--size) * .5));
}

.back {
  background-color: #bbb;
  transform: translateZ(calc(var(--size) * -.5));
}


:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}


@media screen and (min-width: 37.5em) {

  .menu-bar-movil {
      display: none;
  }


 
  .main-navigation ul {

      li {
          display: flex;
          position: fixed;

          a {
              color: whitesmoke;
              // text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 3px;
              // font-size: 2em;
              font-size: 3vh;
              text-decoration: none;
              text-shadow: 2px 2px 10px rgb(73, 73, 73);
        
          }

          a:hover {
              color: #08F7FE;
              
          }

          a:active {
              // font-size: 2.5em;
              font-size: 3.5vh;
              color: lightblue;
          }

          img {
              width: 36px;
              height: 36px;
              box-shadow: 2px 2px 10px rgb(73, 73, 73);
              border-radius: 20%;
              
          }
      }

      li:nth-child(1) {
          left: 0.5%;
          top: 12%;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
          transition: .10s;

          &:hover {
              top: 14%;
          }
      }

      li:nth-child(2) {
          left: 0;
          top: 30%;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
          transition: .10s;

          &:hover {
              top: 33%;
          }
      }

      li:nth-child(3) {
          left: 0;
          top: 60%;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
          transition: .10s;

          &:hover {
              top: 63%;
          }
      }

      li:nth-child(4) {
          left: 0;
          top: 85%;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
          transition: .10s;

          &:hover {
              top: 88%;
          }
      }

      li:nth-child(5) {
          right: 0;
          top: 5%;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transition: .10s;

          &:hover {
              top: 8%;
          }
      }

      li:nth-child(6) {
          right: 0;
          top: 30%;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transition: .10s;

          &:hover {
              top: 33%;
          }
      }

      li:nth-child(7) {
          right: 0.5%;
          top: 60%;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transition: .5s;
          z-index: 3;

          &:hover {
              background-color: #08F7Fe;
              border-radius: 25%;
              transform: rotateY(180deg);
              
          }
      }

      li:nth-child(8) {
          right: 0.5%;
          top: 70%;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transition: .5s;
          z-index: 3;

          &:hover {
              background-color: #F5D300;
              border-radius: 25%;
              transform: rotateY(180deg);
          }
      }

      li:nth-child(9) {
          right: 0.5%;
          top: 80%;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transition: .5s;
          z-index: 3;

          &:hover {
              background-color: #FE53BB;
              border-radius: 25%;
              transform: rotateY(180deg);
          }
      }

      li:nth-child(10) {
          right: 0.5%;
          top: 90%;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transition: .5s;
          z-index: 3;

          &:hover {
              background-color: #09FBD3;
              border-radius: 25%;
              transform: rotateY(180deg);
          }
      }
  }
}