/* 
*
*    Section du site : Projet & vie étudiante.    
*    Auteur: Charles Noël.
*    Style général de la navigation bureau,
*
*/

section#Projet {
    h1#SectionProjet {
        flex-basis: 100%;
        padding-bottom: 5%;
    }

    .descriptionProjet {
        list-style: none;

    }

    .descriptionProjet h3:hover {
        color: rgba(131, 115, 115, 0.603);
        cursor: pointer;
    }

    .descriptionProjet a p:hover {
        color: darkgray;
        cursor: pointer;
    }


    /* caroussel vignette */
    .vignette-Projet {
        width: auto;
        height: auto;
    }

    .image-carousselfade {
        flex-direction: row;
        display: none;

    }


    .info-Vignette {
        order: 1;
        align-self: flex-end;
    }

    .image-Projet {
        order: 2;
        flex-grow: 4;
    }

    /* div text */
    img {
        padding-left: 15%;
        width: 60vw;
        height: auto;
        object-fit: cover;
    }

    .clip-polygon {
        border-radius: 61% 39% 27% 73% / 31% 46% 54% 69%;
    }



    /* Animation */
    .projetFadeIn {
        animation: projetFadeIn ease 3s;
    }

    .projetSwipe {
        animation: projetSwipe ease 3s;
    }

    @keyframes projetFadeIn {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes projetSwipe {
        from {
            transform: translateX(-1000px);
        }

        to {
            transform: translateX(0);
        }
    }
}



// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 980px) {

    section#Projet {
        .image-carousselfade {
            flex-direction: column;
        }
    img {
        padding-top: 5%;
        padding-left: 0%;
        width: 80vw;

    }

    }


    /* caroussel vignette */
    .vignette-Projet {

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 15px;
        }

        p {
            font-size: 12px;
        }
    }

}


// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
    section#Projet {
        .image-carousselfade {
            flex-direction: column;
        }
        img {
            width: 110vw;
            padding-left: 0%;
            padding-top: 5%;
        }
    }
    /* caroussel vignette */
    .vignette-Projet {

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 15px;
        }

        p {
            font-size: 12px;
        }
    }
}

// ******************************************************************Mobile petit format******************************************************************
@media only screen and (max-width: 300px) {
    section#Projet {
        .image-carousselfade {
            flex-direction: column;
        }
        img {
            width: 90vw;
        }
    }
    .text {
        font-size: 11px
    }
}