@media (max-width: 520px) {

  #desktop-conteneur{

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 
  .afficher-prof{
  display: none;
  }
  
  .choix-prof{
    align-self: center;
    align-content: center;
    flex-direction:column;
  }
  #prof-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    h2{
      align-self: center;
      margin-bottom: .1vh;
      color: white;
    }
    h3{
      align-self: center;
      margin-top: .1vh;
      color: white;
      padding-bottom: 2vh;
    }
    p{
      margin-bottom: 1vh;
      margin-top: 1vh;
      width: 70vw;
      color: white;
    }
  }
  
  .afficher-prof:first-child{
    display: flex;
  }
  
  .prof-liste li:first-child{
    a{
      color: white;
    }
    }
  
  
  .prof-image{
  width: 25vw;
  height: auto;
  align-self: center;
  margin: 2% 2% 0 0;

  }
  .afficher-prof h2{
    align-self: center;
    margin: 2vh 1vw;
  }
  .afficher-prof h3{
    align-self: center;
    margin: 2vh 1vw;
  }
  .afficher-prof p{
  color: #c5c2c2dc;
  text-align: left;
  align-self: center;
  line-height: 2vh;
  width: 60vw;
  height: 18vh;
  padding: 2vh 2vw;
  margin-top: 2vh;
  background:black;
  }
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  .prof-fleche{
    align-self: center;
    position: relative;
    height: 2.5vh;
    width: auto;
    margin-bottom: 1vh;
  }

  .prof-liste{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 0 !important;
    padding: 2vh 1vw; 
    background: rgb(7,15,10);
    width: 70vw;
  }
  
  
  .prof-liste>li{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto;
    height: auto;
    
  }
  
  .prof-liste a{
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 1vh;
    text-shadow: 1px 1px #fff8f856;
    font-size: 1rem;
  }
    
  .prof-liste a:hover{
  color: white;
  text-shadow: 18px 0px 20px white, -16px 0px 17px white;
  }

 
  
  
}
  //////-------------------Tablette-------------------------///////////

@media (min-width: 521px) and (max-width: 980px) {
  #desktop-conteneur{

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .afficher-prof{
  
  display: none;
  }
  
  .choix-prof{
    align-self: center;

    align-content: center;
    flex-direction:column;
  }
  #prof-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    h2{
      align-self: center;
      margin-bottom: 1vh;
      color: white;
    }
    h3{
      align-self: center;
      margin-top: 1vh;
      color: white;
    }
    p{
      margin-bottom: 1vh;
      margin-top: 1vh;
      width: 70vw;
      color: white;
    }
  }
  
  .afficher-prof:first-child{
    display: flex;
  }
  
  .prof-liste li:first-child{
    a{
      color: white;
    }
    }
  
  
  .prof-image{
  width: 20vw;
  height: auto;
  align-self: center;
  
  
  
  }
  .afficher-prof h2{
    align-self: center;
    margin-top: 2vh;
  }
  .afficher-prof h3{
    align-self: center;
    margin: 2vh 0;
  }
  .afficher-prof p{
  color: #c5c2c2dc;  
  line-height: 1.6;
  text-align: left;
  align-self: center;
  width: 60vw;
  height: 15vh;
  //margin-top: 2vh !important;
  padding: 2vh 2vw;
  background:black;
 
  }
  
  .afficher-prof p::-webkit-scrollbar {
    width: 1px;
  }
  .prof-fleche{
    align-self: center;
    position: relative;
    height: 2.5vh;
    width: auto;
    margin-bottom: 1vh;
  }
  
  
  .prof-liste{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-self: center;
    justify-content: stretch;
    margin: 0 !important;
    padding: 2vh 2vw; 
    background:black;
    width: 70vw;
  }
  
  
  .prof-liste>li{
    
    flex: 4;
    list-style: none;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 0;
    justify-self: flex-start;
    padding: 2%;
    align-self: center;
  }
  
  .prof-liste a{
    width: 100%;
    cursor: pointer;
    height: auto;
    margin-top: 2vh;
    text-shadow: 1px 1px #fff8f856;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    }
  .prof-liste a:hover{  
  color: white;
  text-shadow: 18px 0px 20px white, -16px 0px 17px white;
  }
}



///////----------------------desktop--------------------------------///////////


@media (min-width: 981px){
#desktop-conteneur{

  margin: 2%;
}


.afficher-prof{
  display: none;
}
.choix-prof{

  align-content: center;
  flex-direction:row;
}

#prof-presentation{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  
  h2{
    align-self: flex-start;
    margin-bottom: .1vh;
    color: white;
  }
  h3{
    align-self: flex-start;
    margin-top: .1vh;
    color: white;
  }
  p{
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: white;
    width: 68vw;
  }
}

.afficher-prof:first-child{
  display: flex;
}

.prof-liste li:first-child{
  a{
    color: white;
  }
}


.prof-image{
  width: 12vw;
  height: auto;
  align-self: center;

  margin: 0 2 !important;

}
.afficher-prof h2{
  align-self: center;
  margin-left: 2vw;
}
.afficher-prof h3{
  align-self: center;
  margin-left: 2vw;
}
.afficher-prof p{
  color: #c5c2c2dc;
  line-height: 1.6;
  text-align: left;
  align-self: center;
  width: 64vw;
  height: 20vh;
  padding: 2vw;
  background:black;
 
}

.afficher-prof p::-webkit-scrollbar {
  width: 1px;
}
.prof-fleche{
  align-self: center;
  position: relative;
  height: 2.5vh;
  width: auto;
  margin-bottom: 1vh;
}


.prof-liste{
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
  height: 30vh;
  padding:  1vh 1vw;
  background:black;

}


.prof-liste>li{
  display: flex;
  flex-grow: 6;
  flex-direction:row ;
  justify-content: center;
  list-style: none;
  align-content: space-around;
  flex-wrap: wrap;
  width: 12vw;
  height: auto;

}

.prof-liste a{
  width: 100%;
  cursor: pointer;
  height: auto;
  margin-top: 2vh;
  text-shadow: 1px 1px #fff8f856;
}
  
.prof-liste a:hover{
  color: white;
  text-shadow: 18px 0px 20px white, -16px 0px 17px white;
  }
}