/******************************************************Format bureau*/
.stage {
  margin: 25px 0;

  .stagecontent {
    width: 100%;
    /*  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: cente; */

    .CarrouselContent {
      width: 100%;
      .SliderCarrousel {
        width: 300%;
        display: flex; //para que las fotos se coloque al lado del otro
        .slide {
          width: 100%;
          min-height: 400px;
          background-size: cover;
          background-position: center;

          &.photo1 {
            background-image: url("../images/logos/logo_fontNoir.jpg");
          }
          &.photo2 {
            background-image: url("../images/logos/logo_fontRose.jpg");
          }
          &.photo3 {
            background-image: url("../images/logos/logos_fondBlue.jpg");
          }
        }
      }
    }

    /**************************/
    .stagierContent {
      width: 70%; //100%
      background-color: black;
      margin: 25px auto;
      padding: 50px 0;

      .stagier-info {
        width: 80%;
        margin: 0 auto;

        .stagier {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;

          .stagierPhoto {
            width: 150px;
            height: 150px;
            border: 2px solid white;
            border-radius: 50%;
            margin-bottom: 20px;
          }
        }

        .stage-temoignage {
          width: 90%;
          background-color: white;
          margin: 20px auto;
          padding: 25px;
          h3 {
            color: black;
            margin-bottom: 10px;
          }
          p {
            color: black;
          }
        }
      }
    }
  }
}

// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 980px) {
}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
}
/* .stage {
  width: 100%;
  margin-top: 25px; //margin separa una section de autra
  display: flex; //porque tengo 2 grandes DIV (carrousel + experiences)
  //flex-direction: row;
  flex-wrap: wrap;

  //Carrousel styles
  .Carrousel_container {
    background-color: blue;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
  }

  //Experiences styles
  .stage_container {
    //boite blanche arriere plan, contiene 2 negros
    width: 100%;
    display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;

    .stage-info {
      //2 bloques negros
      width: 100%;
      display: flex;
      background-color: black;

      .stagier {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;

        .stage-photo {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          //border-color: 3px solid blue;
        }
      }

      .stage-temoignage {
        background-color: green;

        width: 100%;
      }
    }
  }
}
 */
