.stage {
  width: 100%;
  margin-top: 25px; //margin separa una section de autra
  display: flex; //porque tengo 2 grandes DIV (carrousel + experiences)
  //flex-direction: row;
  flex-wrap: wrap;

  //Carrousel styles
  .Carrousel_container {
    background-color: blue;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
  }

  //Experiences styles
  .stage_container {
    width: 100%;
    display: flex; //porque tiengo dos bloques negros uno x experincia
    flex-direction: column;
    // flex-wrap: wrap;

    .stage-info {
      width: 100%;
      display: flex;
      background-color: black;
      margin-bottom: 15px;

      .stagier {
        p {
          font-size: 12px;
          text-align: center;
          // line-height: 5px;
        }
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          //border-color: 3px solid blue;
        }
      }

      .stage-temoignage {
        background-color: green;
      }
    }
  }
}

/*.container-Experiences {
  background-color: yellow;
  width: 100%;
  display: flex;

  .info {
    background-color: black;
    display: flex;
    //flex-direction: row;
    // flex-wrap: wrap;
    //justify-content: space-between;
    //align-items: center;
    width: 90%;
    margin: 25px;
  }

  .info-stagier {
    //width: 50%;
    //padding: 25px auto;
    background-color: blue;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  .temoignage {
    position: relative;
    right: 10px;
    background-color: green;
  }
}
*/
