<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIM</title>
    <meta name="description" content="TIM - Techinque d'Intégration multimédia collège Maisonneuve">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Début header -->
    <header id="masthead" class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="" rel="home">TIM</a></h1>
            <div id="logo-cercle"></div>
		</div>

		<nav id="site-navigation" class="main-navigation">
            <!--<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>-->
			<div class="menu-menu-1-container">
                <ul id="primary-menu" class="menu nav-menu">
                    <li><a href="" aria-current="page">Accueil</a></li>
                    <li><a href="#SectionProgramme">Programme</a></li>
                    <li><a href="#SectionProfesseur">Professeur</a></li>
                    <li><a href="#SectionProjet">Projet</a></li>
                    <li><a href="#SectionStage">Stages</a></li>
                    <li><a href="#SectionEvenement">Évènement</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/maisonneuvetim/"><img src="../images/icone-facebook.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/maisonneuvetim/"><img src="../images/icone-instagram.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/user/TIMaisonneuve"><img src="../images/icone-youtube.png" alt=""></a></li>
                    <li><a target="_blank" href="https://discord.com/invite/53vFvr9"><img src="../images/icone-discord.png" alt=""></a></li>
                </ul>
            </div>		
        </nav>

        <!-- burger Menu -->
		<div class="menu-bar-movil">
			
			<div class="burger-menu" id="burger_menu">
            <i class="fas fa-bars" aria-expanded="false"></i>
			</div>

			<div class="slideMenu" id="slideMenu">
				<div class="top-redes">
					<a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
					<a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
				</div>

				<nav class="menu-principal">
					<a href="#" >Accueil</a>
					<a href="#SectionProgramme">Programme</a>
					<a href="#SectionProfesseur">Professeur</a>
					<a href="#SectionProjet">Projet</a>
                    <a href="#SectionStage">Stages</a>
                    <a href="#SectionEvenement">Évènement</a>
				</nav>
			</div>
		</div>
    </header>
    <!-- Fin header -->


    <div class="site-main">
        <!-- Début de la section programme -->
        <section id="Programme">
            <h1 id="SectionProgramme">Programme</h1>
            <div id="DescriptionGenerale">
                <p>Maisonneuve est le seul cégep sur l’Île de Montréal à offrir ce programme qui vous offre une immersion dans le monde du jeu 2D/3D, du Web, des technologies mobiles et des médias numériques, tout en apprenant différents langages de programmation. <br>
                
                Dans ce programme, vous apprendrez à identifier, analyser, imaginer, réaliser et coordonner un projet multimédia et les différentes étapes de production qui y sont liées : </p>
    
                <ul class="listeEtapeProduction">
                    <li><span>La médiatisation :</span> Créer ou modifier des éléments graphiques et multimédias.</li>
                    <li><span>La conception :</span> Concevoir le design et l’interactivité d’un projet multimédia.</li>
                    <li><span>L’intégration :</span> Intégrer de façon cohérente et artistique les composantes d’un projet interactif.</li>
                    <li><span>L’environnement professionnel :</span> Développer une vision globale du multimédia et connaître l’environnement de travail tant du point de vue technologique qu’interpersonnel.</li>
                </ul>
            
                <p>En laboratoire, vous connaîtrez :</p>
            
                <ul class="listeEtapeProduction">
                    <li><span>Les logiciels :</span> Photoshop, Illustrator, Maya (3D), Unity, AfterEffects, etc.</li>
                    <li><span>Les langages :</span> HTML, CSS, JavaScript, SQL, PHP, C#, etc.</li>
                </ul>
                
            </div>
            
            <div id="ToutesSessions">
                <section id="session_1">
                    <button class="boutonAfficheFenetre"><h2>Session 1</h2></button>
                    <div class="fenetreCours">
                        <ul class="listeCours">
                            <li>
                                <button>Création Vidéo</button>
                                <section class="descriptionCours">
                                    <ul>
                                        <li>Préalable</li>
                                        <li>Pondération</li>
                                        <li>Nombre d'heures</li>
                                    </ul>
                                    <p>
                                        Description du cours
                                    </p>
                                </section>
                            </li>
                            <li><button>Conception graphique et matricielle</button></li>
                            <li><button>Mise en page web</button></li>
                            <li><button>Animation et intéractivité en jeu</button></li>
                        </ul>
                    </div>
                </section>
    
                <section id="session_2">
                    <button><h2>Session 2</h2></button>
                </section>
    
                <section id="session_3">
                    <button><h2>Session 3</h2></button>
                </section>
    
                <section id="session_4">
                    <button><h2>Session 4</h2></button>
                </section>
    
                <section id="session_5">
                    <button><h2>Session 5</h2></button>
                </section>
    
                <section id="session_6">
                    <button><h2>Session 6</h2></button>
                </section>
            </div>
        </section>
        <!-- Fin de la section programme -->
    
        <!-- Début de la section Professeur -->
        <section id="Professeur">
            <h1 id="SectionProfesseur">Professeur</h1>
            <p>Nibh sed pulvinar proin gravida. Semper quis lectus nulla at volutpat diam. Facilisi etiam dignissim diam quis enim. Enim ut tellus elementum sagittis vitae et. Morbi tempus iaculis urna id. Enim facilisis gravida neque convallis a cras semper auctor neque. Cursus euismod quis viverra nibh cras pulvinar mattis. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Tempor orci eu lobortis elementum. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Tempor commodo ullamcorper a lacus. Amet nisl suscipit adipiscing bibendum est ultricies.</p>
        </section>
        <!-- Fin de la section Professeur -->
    
        <!-- Début de la section Projet -->
        <section id="Projet">
            <h1 id="SectionProjet">Projet</h1>
            <p>Quam quisque id diam vel quam. Id cursus metus aliquam eleifend mi in. Elementum sagittis vitae et leo duis. Elementum tempus egestas sed sed risus pretium quam vulputate dignissim. Lobortis feugiat vivamus at augue. Ut enim blandit volutpat maecenas. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Volutpat odio facilisis mauris sit amet massa vitae tortor. Auctor eu augue ut lectus arcu bibendum at varius vel. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. Et netus et malesuada fames ac turpis egestas. Fermentum iaculis eu non diam phasellus vestibulum. Neque ornare aenean euismod elementum nisi quis eleifend quam. Id eu nisl nunc mi ipsum faucibus vitae. Velit aliquet sagittis id consectetur purus ut faucibus. Elementum eu facilisis sed odio morbi quis commodo odio.</p>
        </section>
        <!-- Fin de la section Projet -->
    
        <!-- Début de la section Stage -->
        <section id="Stage">
            <h1 id="SectionStage">Stages</h1>
            <p>Mattis ullamcorper velit sed ullamcorper. Sit amet tellus cras adipiscing enim eu. Amet nisl purus in mollis nunc sed id. Cras adipiscing enim eu turpis egestas. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. A diam maecenas sed enim ut sem viverra. In nulla posuere sollicitudin aliquam ultrices sagittis. Consequat mauris nunc congue nisi vitae suscipit tellus mauris. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Pellentesque nec nam aliquam sem et. Integer malesuada nunc vel risus commodo viverra. Arcu cursus vitae congue mauris. Netus et malesuada fames ac turpis egestas integer. Aliquam sem et tortor consequat id porta nibh. Consequat interdum varius sit amet mattis vulputate.</p>
        </section>
        <!-- Fin de la section Stage -->
    
        <!-- Début de la section Evenement -->
        <section id="Evenement">
            <h1 id="SectionEvenement">Évènement</h1>
            <p>Mattis ullamcorper velit sed ullamcorper. Sit amet tellus cras adipiscing enim eu. Amet nisl purus in mollis nunc sed id. Cras adipiscing enim eu turpis egestas. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. A diam maecenas sed enim ut sem viverra. In nulla posuere sollicitudin aliquam ultrices sagittis. Consequat mauris nunc congue nisi vitae suscipit tellus mauris. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Pellentesque nec nam aliquam sem et. Integer malesuada nunc vel risus commodo viverra. Arcu cursus vitae congue mauris. Netus et malesuada fames ac turpis egestas integer. Aliquam sem et tortor consequat id porta nibh. Consequat interdum varius sit amet mattis vulputate.</p>
        </section>
        <!-- Fin de la section Evenement -->
    </div>
    <footer>
        
    </footer>
</body>
</html>