<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIM</title>
    <meta name="description" content="TIM - Techinque d'Intégration multimédia collège Maisonneuve">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script src="/js/scriptAccordion.js"></script> -->
</head>
<body>
    <!-- Début header -->
    <header id="masthead" class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="" rel="home"></a></h1>
            <div id="logo-cercle"></div>
		</div>

		<nav id="site-navigation" class="main-navigation">
            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>
			<div class="menu-menu-1-container">
                <ul id="primary-menu" class="menu nav-menu">
                    <li><a href="" aria-current="page">Accueil</a></li>
                    <li><a href="#SectionProgramme">Programme</a></li>
                    <li><a href="#SectionProfesseur">Professeur</a></li>
                    <li><a href="#SectionProjet">Projet</a></li>
                    <li><a href="#SectionStage">Stages</a></li>
                    <li><a href="#SectionEvenement">Évènement</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/maisonneuvetim/"><img src="../images/icone-facebook.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/maisonneuvetim/"><img src="../images/icone-instagram.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/user/TIMaisonneuve"><img src="../images/icone-youtube.png" alt=""></a></li>
                    <li><a target="_blank" href="https://discord.com/invite/53vFvr9"><img src="../images/icone-discord.png" alt=""></a></li>
                </ul>
            </div>		
        </nav>
    </header>
    <!-- Fin header -->


    <div class="site-main">
        <!-- Début de la section programme -->
        <section id="Programme">
            <h1 id="SectionProgramme">Programme</h1>
            <div id="DescriptionGenerale">
                <p>Maisonneuve est le seul cégep sur l’Île de Montréal à offrir ce programme qui vous offre une immersion dans le monde du jeu 2D/3D, du Web, des technologies mobiles et des médias numériques, tout en apprenant différents langages de programmation. <br>
                
                Dans ce programme, vous apprendrez à identifier, analyser, imaginer, réaliser et coordonner un projet multimédia et les différentes étapes de production qui y sont liées : </p>
    
                <ul class="listeEtapeProduction">
                    <li><span>La médiatisation :</span> Créer ou modifier des éléments graphiques et multimédias.</li>
                    <li><span>La conception :</span> Concevoir le design et l’interactivité d’un projet multimédia.</li>
                    <li><span>L’intégration :</span> Intégrer de façon cohérente et artistique les composantes d’un projet interactif.</li>
                    <li><span>L’environnement professionnel :</span> Développer une vision globale du multimédia et connaître l’environnement de travail tant du point de vue technologique qu’interpersonnel.</li>
                </ul>
            
                <p>En laboratoire, vous connaîtrez :</p>
            
                <ul class="listeEtapeProduction">
                    <li><span>Les logiciels :</span> Photoshop, Illustrator, Maya (3D), Unity, AfterEffects, etc.</li>
                    <li><span>Les langages :</span> HTML, CSS, JavaScript, SQL, PHP, C#, etc.</li>
                </ul>
                
            </div>
            <div class="listeBoutons">
                <button>Voir les cours de création</button>
                <button>Voir les cours de programmation</button>
                <button>Voir tous cours</button>
            </div>
            <div id="ToutesSessions">
                <div class="session session_1">
                    <button class="boutonSession"><h2>Session 1</h2></button>
                    <div class="fenetreCours">
                        <ul class="listeCours cachee">
                            <li>
                                <section class="descriptionCours">
                                    <h3>Création Vidéo</h3>
                                    <ul>
                                        <li>Sigle</li>
                                        <li>Préalable</li>
                                        <li>Pondération</li>
                                        <li>Nombre d'heures</li>
                                        <li>
                                            <p>
                                                Ce cours initie l’étudiant au traitement des images en mouvement, au traitement du son ainsi qu'aux bases de la scénarisation linéaire. L’étudiant apprend à utiliser les périphériques associés au traitement du son et de la vidéo et à exploiter de façon créative les fonctions des logiciels de traitement vidéo et sonore. Les techniques de montage (structure narrative, affinage de coupe, correction de couleur, etc.) sont étudiées. L’étudiant apprend à représenter ses idées et ses concepts par le dessin et l’écrit, à l’aide de scénarimages, de synopsis et de scénarios.
                                                <br><br>
                                                Les particularités de la fonction de travail liées au traitement de la vidéo, du son, ainsi qu'à la scénarisation sont présentées de même que les compétences techniques et comportementales associées.
                                            </p>
                                        </li>
                                    </ul>
                                    
                                </section>
                            </li>
                            <li>Conception graphique et matricielle</li>
                            <li>Mise en page web</li>
                            <li>Animation et intéractivité en jeu</li>
                        </ul>
                    </div>
                </div>
                
                <div class="session session_2">
                    <button class="boutonSession"><h2>Session 2</h2></button>
                    <div class="fenetreCours cachee">
                        <ul class="listeCours">
                            <li>Cours 1</li>
                            <li>Cours 2</li>
                            <li>Cours 3</li>
                            <li>Cours 4</li>
                        </ul>
                    </div>
                </div>
                <div class="session session_3">
                    <button class="boutonSession"><h2>Session 3</h2></button>
                    <div class="fenetreCours cachee">
                        <ul class="listeCours">
                            <li>Cours 1</li>
                            <li>Cours 2</li>
                            <li>Cours 3</li>
                            <li>Cours 4</li>
                        </ul>
                    </div>
                </div>
                <div class="session session_4">
                    <button class="boutonSession"><h2>Session 4</h2></button>
                    <div class="fenetreCours cachee">
                        <ul class="listeCours">
                            <li>Cours 1</li>
                            <li>Cours 2</li>
                            <li>Cours 3</li>
                            <li>Cours 4</li>
                        </ul>
                    </div>
                </div>
                <div class="session session_5">
                    <button class="boutonSession"><h2>Session 5</h2></button>
                    <div class="fenetreCours cachee">
                        <ul class="listeCours">
                            <li>Cours 1</li>
                            <li>Cours 2</li>
                            <li>Cours 3</li>
                            <li>Cours 4</li>
                        </ul>
                    </div>
                </div>
                <div class="session session_6">
                    <button class="boutonSession"><h2>Session 6</h2></button>
                    <div class="fenetreCours cachee">
                        <ul class="listeCours">
                            <li>Cours 1</li>
                            <li>Cours 2</li>
                            <li>Cours 3</li>
                            <li>Cours 4</li>
                        </ul>
                    </div>
                </div>
            </div>  
        </section>
        <!-- Fin de la section programme -->
        <script src="/js/scriptAccordion.js"></script>
</body>
</html>