        <!-- Début de la section Evenement -->
        <section id="Evenement">
            <div>
                <h1>Évènement</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas corrupti nisi incidunt, omnis quas laborum quia aspernatur. Neque unde laudantium odit, veniam molestiae ad reiciendis repellat facilis assumenda aperiam consectetur!
                    Quas voluptas, optio saepe tempora quaerat repellendus sapiente dolores commodi temporibus fugiat molestias, labore perferendis quis eos cum soluta voluptatum libero sunt. Inventore consequatur corrupti quo nostrum praesentium. Id, qui?
                </p>
                <button>Inscrivez-vous</button>
            </div>

            
        <div class="calendrier">
            <table class="mois">
                <tbody>
                    <tr>
                        <th>November 2020</th>
                    </tr>
                    <tr class="jourSemaine">
                        <td>Lundi</td>
                        <td>Mardi</td>
                        <td>Mercredi</td>
                        <td>Jeudi</td>
                        <td>Vendredi</td>
                        <td>Samedi</td>
                        <td>Dimanche</td>
                    </tr>
                    <tr class="semaine">
                        <td><a class="date">26</a></td>
                        <td><a class="date">27</a></td>
                        <td><a class="date">28</a></td>
                        <td><a class="date">29</a></td>
                        <td><a class="date">30</a></td>
                        <td><a class="date">31</a></td>
                        <td><a class="date">1</a></td>
                    </tr>
                    <tr class="semaine">
                        <td><a class="date">2</a></td>
                        <td><a class="date">3</a></td>
                        <td><a class="date">4</a></td>
                        <td><a class="date">5</a></td>
                        <td><a class="date">6</a></td>
                        <td><a class="date">7</a></td>
                        <td><a class="date">8</a></td>
                    </tr>
                    <tr class="semaine">
                        <td><a class="date">9</a></td>
                        <td><a class="date">10</a></td>
                        <td><a class="date">11</a></td>
                        <td><a class="date">12</a></td>
                        <td><a class="date">13</a></td>
                        <td><a class="date">14</a></td>
                        <td><a class="date">15</a></td>
                    </tr>
                    <tr class="semaine">
                        <td><a class="date">16</a></td>
                        <td><a class="date">17</a></td>
                        <td><a class="date">18</a></td>
                        <td><a class="date">19</a></td>
                        <td><a class="date">20</a></td>
                        <td><a class="date">21</a></td>
                        <td><a class="date">22</a></td>
                    </tr>
                    <tr class="semaine">
                        <td><a class="date">23</a></td>
                        <td><a class="date">24</a></td>
                        <td><a class="date">25</a></td>
                        <td><a class="date">26</a></td>
                        <td><a class="date">27</a></td>
                        <td><a class="date">28</a></td>
                        <td><a class="date">29</a></td>
                    </tr>
                    <tr class="semaine">
                        <td><a class="date">30</a></td>
                        <td><a class="date">1</a></td>
                        <td><a class="date">2</a></td>
                        <td><a class="date">3</a></td>
                        <td><a class="date">4</a></td>
                        <td><a class="date">5</a></td>
                        <td><a class="date">6</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </section>
        <!-- Fin de la section Evenement -->