<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIM</title>
    <meta name="description" content="TIM - Techinque d'Intégration multimédia collège Maisonneuve">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Début header -->
    <header id="masthead" class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href=""></a></h1>
            <div id="logo-cercle"></div>
		</div>

		<nav id="site-navigation" class="main-navigation">
            <!--<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>-->
			<div class="menu-menu-1-container">
                <ul id="primary-menu" class="menu nav-menu">
                    <li><a href="" aria-current="page">Accueil</a></li>
                    <li><a href="#SectionProgramme">Programme</a></li>
                    <li><a href="#SectionProfesseur">Professeur</a></li>
                    <li><a href="#SectionProjet">Projet</a></li>
                    <li><a href="#SectionStage">Stages</a></li>
                    <li><a href="#SectionEvenement">Évènement</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/maisonneuvetim/"><img src="../images/icone-facebook.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/maisonneuvetim/"><img src="../images/icone-instagram.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/user/TIMaisonneuve"><img src="../images/icone-youtube.png" alt=""></a></li>
                    <li><a target="_blank" href="https://discord.com/invite/53vFvr9"><img src="../images/icone-discord.png" alt=""></a></li>
                </ul>
            </div>		
        </nav>

    </header>
    <!-- Fin header -->


    <div class="site-main">
        <!-- Début de la section programme -->
        <section id="Programme">
            <h1 id="SectionProgramme">Programme</h1>
            <div id="DescriptionGenerale">
                <p>Maisonneuve est le seul cégep sur l’Île de Montréal à offrir ce programme qui vous offre une immersion dans le monde du jeu 2D/3D, du Web, des technologies mobiles et des médias numériques, tout en apprenant différents langages de programmation. <br>
                
                Dans ce programme, vous apprendrez à identifier, analyser, imaginer, réaliser et coordonner un projet multimédia et les différentes étapes de production qui y sont liées : </p>
    
                <ul class="listeEtapeProduction">
                    <li><span>La médiatisation :</span> Créer ou modifier des éléments graphiques et multimédias.</li>
                    <li><span>La conception :</span> Concevoir le design et l’interactivité d’un projet multimédia.</li>
                    <li><span>L’intégration :</span> Intégrer de façon cohérente et artistique les composantes d’un projet interactif.</li>
                    <li><span>L’environnement professionnel :</span> Développer une vision globale du multimédia et connaître l’environnement de travail tant du point de vue technologique qu’interpersonnel.</li>
                </ul>
            
                <p>En laboratoire, vous connaîtrez :</p>
            
                <ul class="listeEtapeProduction">
                    <li><span>Les logiciels :</span> Photoshop, Illustrator, Maya (3D), Unity, AfterEffects, etc.</li>
                    <li><span>Les langages :</span> HTML, CSS, JavaScript, SQL, PHP, C#, etc.</li>
                </ul>
                
            </div>
            
            <div id="ToutesSessions">
                <section id="session">
                    <button class="boutonAfficheFenetre"><h2>Session 1</h2></button>
                    <div class="fenetreCours">
                        <ul class="listeCours">
                            <li>
                                <button>Création Vidéo</button>
                                <section class="descriptionCours">
                                    <ul>
                                        <li>Préalable</li>
                                        <li>Pondération</li>
                                        <li>Nombre d'heures</li>
                                    </ul>
                                    <p>
                                        Description du cours
                                    </p>
                                </section>
                            </li>
                            <li><button>Conception graphique et matricielle</button></li>
                            <li><button>Mise en page web</button></li>
                            <li><button>Animation et intéractivité en jeu</button></li>
                        </ul>
                    </div>
                </section>
    
                <section id="session_2">
                    <button><h2>Session 2</h2></button>
                </section>
    
                <section id="session_3">
                    <button><h2>Session 3</h2></button>
                </section>
    
                <section id="session_4">
                    <button><h2>Session 4</h2></button>
                </section>
    
                <section id="session_5">
                    <button><h2>Session 5</h2></button>
                </section>
    
                <section id="session_6">
                    <button><h2>Session 6</h2></button>
                </section>
            </div>
        </section>
        <!-- Fin de la section programme -->
    
        <!-- Début de la section Professeur -->
        <section id="Professeur">
            <h1 id="SectionProfesseur">Professeur</h1>
            <p>Nibh sed pulvinar proin gravida. Semper quis lectus nulla at volutpat diam. Facilisi etiam dignissim diam quis enim. Enim ut tellus elementum sagittis vitae et. Morbi tempus iaculis urna id. Enim facilisis gravida neque convallis a cras semper auctor neque. Cursus euismod quis viverra nibh cras pulvinar mattis. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Tempor orci eu lobortis elementum. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Tempor commodo ullamcorper a lacus. Amet nisl suscipit adipiscing bibendum est ultricies.</p>
        </section>
        <!-- Fin de la section Professeur -->
    
        <!-- Début de la section Projet -->
        <section id="Projet">
            <h1 id="SectionProjet">Projet</h1>
            <p>Quam quisque id diam vel quam. Id cursus metus aliquam eleifend mi in. Elementum sagittis vitae et leo duis. Elementum tempus egestas sed sed risus pretium quam vulputate dignissim. Lobortis feugiat vivamus at augue. Ut enim blandit volutpat maecenas. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Volutpat odio facilisis mauris sit amet massa vitae tortor. Auctor eu augue ut lectus arcu bibendum at varius vel. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. Et netus et malesuada fames ac turpis egestas. Fermentum iaculis eu non diam phasellus vestibulum. Neque ornare aenean euismod elementum nisi quis eleifend quam. Id eu nisl nunc mi ipsum faucibus vitae. Velit aliquet sagittis id consectetur purus ut faucibus. Elementum eu facilisis sed odio morbi quis commodo odio.</p>
        </section>
        <!-- Fin de la section Projet -->
    
        <!-- Début de la section Stage -->
        <section id="Stage">
            <h1 id="SectionStage">Stages</h1>
            <p>Mattis ullamcorper velit sed ullamcorper. Sit amet tellus cras adipiscing enim eu. Amet nisl purus in mollis nunc sed id. Cras adipiscing enim eu turpis egestas. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. A diam maecenas sed enim ut sem viverra. In nulla posuere sollicitudin aliquam ultrices sagittis. Consequat mauris nunc congue nisi vitae suscipit tellus mauris. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Pellentesque nec nam aliquam sem et. Integer malesuada nunc vel risus commodo viverra. Arcu cursus vitae congue mauris. Netus et malesuada fames ac turpis egestas integer. Aliquam sem et tortor consequat id porta nibh. Consequat interdum varius sit amet mattis vulputate.</p>
        </section>
        <!-- Fin de la section Stage -->
    
        <!-- Début de la section Evenement -->
        <section id="Evenement">
            <div class="information">
                <h1>Évènement</h1>
                <div class="infoEvenement">
                    <div class="info cacheeInfo">
                        <h3 class="titreInfo">Particularités</h3>
                        Comme étudiant en Techniques d’intégration multimédia, vous serez encouragé à participer à différents concours.
                        <ul>
                            <li>Olympiades québécoises de la formation professionnelle technique</li>
                            <li>Olympiades canadiennes de la formation professionnelle et technique</li>
                            <li>Concours d’affiches et autres</li>
                        </ul>
                    </div>
                    <div class="info cacheeInfo">
                        <h3 class="titreInfo">Des ateliers en sciences et technologie destinés aux filles</h3>
                        Découvrez nos 3 vidéos qui visent à promouvoir auprès des filles des métiers traditionnellement masculins, car elles ont également leur place en technologie.
                        <a href="https://citoyen.cmaisonneuve.qc.ca/section/soutien-scolaire/projets-soutien-scolaire/des-ateliers-en-sciences-et-technologie-destines-aux-filles/">Des ateliers en sciences et technologie destinés aux filles</a>
                    </div>

                    <div class="info cacheeInfo">
                        <h3 class="titreInfo">Perspectives d’emploi</h3>
                        83,3 % des diplômés qui se destinaient au marché du travail ont trouvé un emploi lié à leur formation*
                        À la fin de vos études, vous travaillerez comme :

                        <ul>
                            <li>intégrateur ou programmeur multimédia,</li>
                            <li>développeur Web,</li>
                            <li>concepteurs de jeux interactifs,</li>
                            <li>développeur d’applications mobiles,</li>
                            <li>chargé de projet Web,</li>
                            <li>animateur 2D/3D,</li>
                            <li>designer/infographiste,</li>
                            <li>stratège Web,</li>
                            <li>webmestre.</li>
                        </ul>

                        <span> Source : Ministère de l’Éducation et de l’Enseignement supérieur. (2019). La Relance au collégial en formation technique. La situation d’emploi de titulaires d’un diplôme d’études collégiales (DEC) ou d’une attestation d’études collégiales (AEC). Enquête de 2018. Québec, Québec : Gouvernement du Québec.</span>
                    </div>
                    <div class="info cacheeInfo">
                        <h3 class="titreInfo">Perspectives universitaires</h3>
                        Vous pourrez poursuivre vos études dans ce domaine ou accéder à tous les programmes dont le préalable est un DEC.

                        <ul>
                            <li>DEC-BAC en création 3D et en création numérique à l’UQAT, campus de Montréal</li>
                            <li>BAC en génie des technologies de l’information ou en génie logiciel à l’ÉTS </li>
                            <li>BAC en communication (création médias – médias interactifs) à l’UQAM</li>
                            <li>Plusieurs programmes sont accessibles à Polytechnique en faisant 5 cours préparatoires</li>
                        </ul>

                    </div>
                    
                    <button>Inscrivez-vous</button>
                </div>  
            </div>


            <div class="calendrier">
                <table class="mois">
                    <tbody>
                        <tr class="moisActuel">
                            <th colspan="7">November 2020</th>
                        </tr>
                        <tr class="jourSemaine">
                            <td>Lundi</td>
                            <td>Mardi</td>
                            <td>Mercredi</td>
                            <td>Jeudi</td>
                            <td>Vendredi</td>
                            <td>Samedi</td>
                            <td>Dimanche</td>
                        </tr>
                        <tr class="semaine">
                            <td><a class="date">26</a></td>
                            <td><a class="date">27</a></td>
                            <td><a class="date">28</a></td>
                            <td><a class="date">29</a></td>
                            <td><a class="date">30</a></td>
                            <td><a class="date">31</a></td>
                            <td><a class="date">1</a></td>
                        </tr>
                        <tr class="semaine">
                            <td><a class="date">2</a></td>
                            <td><a class="date">3</a></td>
                            <td><a class="date">4</a></td>
                            <td><a class="date">5</a></td>
                            <td><a class="date">6</a></td>
                            <td><a class="date">7</a></td>
                            <td><a class="date">8</a></td>
                        </tr>
                        <tr class="semaine">
                            <td><a class="date">9</a></td>
                            <td><a class="date">10</a></td>
                            <td><a class="date">11</a></td>
                            <td><a class="date">12</a></td>
                            <td><a class="date">13</a></td>
                            <td><a class="date">14</a></td>
                            <td><a class="date">15</a></td>
                        </tr>
                        <tr class="semaine">
                            <td><a class="date">16</a></td>
                            <td><a class="date">17</a></td>
                            <td><a class="date">18</a></td>
                            <td><a class="date">19</a></td>
                            <td><a class="date">20</a></td>
                            <td><a class="date">21</a></td>
                            <td><a class="date">22</a></td>
                        </tr>
                        <tr class="semaine">
                            <td><a class="date">23</a></td>
                            <td><a class="date">24</a></td>
                            <td><a class="date">25</a></td>
                            <td><a class="date">26</a></td>
                            <td><a class="date">27</a></td>
                            <td><a class="date">28</a></td>
                            <td><a class="date">29</a></td>
                        </tr>
                        <tr class="semaine">
                            <td><a class="date">30</a></td>
                            <td><a class="date">1</a></td>
                            <td><a class="date">2</a></td>
                            <td><a class="date">3</a></td>
                            <td><a class="date">4</a></td>
                            <td><a class="date">5</a></td>
                            <td><a class="date">6</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Fin de la section Evenement -->
    </div>
    <footer>
        
    </footer>
    <script src="/js/scriptAccordion.js"></script>
</body>
</html>